.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(87, 85, 85, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
  }
  
  .path {
    stroke: rgb(0, 26, 255);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }


   .spinner {
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }