<!-- Start::row-1 -->
<div class="box">
    <div class="box-header justify-between">
        <div class="box-title">
            Unidades
        </div>
        <div class="flex gap-4 items-center flex-wrap">
            <div class="custom-form-group grow">
                <input type="text" class="form-control !pe-[7rem]" #inputFiltroNomeunidade
                    (keyup)="filtroNomeUnidade(inputFiltroNomeunidade.value)" placeholder="Pesquisar por nome"
                    aria-describedby="button-addon2">
                <a aria-label="anchor" href="javascript:void(0);"
                    class="text-textmuted dark:text-textmuted/50 custom-form-btn"><i class="ti ti-search"></i></a>
            </div>
        </div>
    </div>


    <div class="box-body p-0">
        <div class="table-responsive">
            <spk-reusable-tables [columns]="ordersColumn"
                tableClass="ti-custom-table ti-custom-table-hover text-nowrap">
                <tr class="order-list border-b !border-defaultborder dark:!border-defaultborder/10"
                    *ngFor="let unidade of resultset?.registros">
                    <td>{{unidade.id}}</td>
                    <td>{{unidade.nome}}</td>
                    <td>{{unidade.descricao}}</td>
                    <td>
                        <button type="button" (click)="abrirModalEdicao(unidade)"
                        data-hs-overlay="#ModalEditarUnidade"
                            class="ti-btn ti-btn-icon ti-btn-sm ti-btn-soft-info btn-wave waves-effect waves-light"><i class="ri-edit-line"></i></button>
                        <a aria-label="anchor" href="javascript:void(0);"
                            class="order-delete-btn ti-btn ti-btn-sm ti-btn-soft-primary2 btn-wave waves-effect waves-light !mb-0">
                            <i class="ri-delete-bin-line"></i>
                        </a>
                        
                    </td>
                </tr>
            </spk-reusable-tables>
        </div>
        <div class="box-footer">
            <div class="flex items-center flex-wrap overflow-auto">

                <div class="ms-auto my-2">
                    <div class="flex items-center flex-wrap overflow-auto">
                        <app-paginador [length]="getTotalRegistro()" [pageIndex]="pagina"
                            (page)="onPageChange($event)"></app-paginador>
                    </div>
                </div>

            </div>
        </div>
  <!--End::row-1 -->

<div id="ModalEditarUnidade" class="hs-overlay hidden ti-modal">

    <app-editar-unidade *ngIf="unidadeSelecionadaModal" [unidade]="unidadeSelecionadaModal" (closeModal)="fecharModalEdicao($event)" > </app-editar-unidade>
</div>

      