<div class="grid grid-cols-12 authentication coming-soon justify-center g-0 my-auto">
    <div class="xxl:col-span-4 xl:col-span-4 lg:col-span-3 md:col-span-3 sm:col-span-2 col-span-12 my-auto"></div>
    <div class="xxl:col-span-4 xl:col-span-4 lg:col-span-6 md:col-span-6 sm:col-span-8 col-span-12 my-auto px-3">
        <div class="authentication-cover rounded-3 overflow-hidden box border border-defaultborder dark:border-defaultborder/10 my-3">
            <div class="aunthentication-cover-content text-center">
                <div class="grid grid-cols-12 justify-center items-center mx-0 g-0">
                    <div class="col-span-12">
                        <div>
                            <div class="mb-4 flex justify-center"> <a [routerLink]="['/dashboards/sales']"> 
                                <img src="./assets/images/brand-logos/toggle-logo.png" alt="" class="authentication-brand"> </a> 
                            </div>
                            <h4 class="mb-2">Under Maintenance</h4>
                            <p class="mb-5 text-textmuted dark:text-textmuted/50">Excuse our digital dust - we're sprucing up our site to bring you an even better browsing adventure soon!</p>
                            <div class="input-group mb-5">
                                <input type="email" class="form-control form-control-lg bg-light !border-s" placeholder="info@gmail.com" aria-label="info@gmail.com" aria-describedby="button-addon2">
                                <button class="ti-btn ti-btn-primary ti-btn-lg !m-0" type="button" id="button-addon2">Subscribe</button>
                            </div>
                            <div class="flex gap-4 flex-wrap mt-4 mb-0 gy-xxl-0 gy-3 justify-center" id="timer">
                                <div>
                                    <div class=""><p class="mb-1 font-medium">DAYS</p>
                                        <h4 class="mb-0 avatar block bg-primary/10 !text-primary avatar-rounded shadow-sm avatar-xl mt-2 backdrop-blur">{{days}}</h4>
                                    </div>
                                </div>
                                <div>
                                    <div class=""><p class="mb-1 font-medium">HOURS</p>
                                        <h4 class="avatar block bg-primarytint1color/10 !text-primarytint1color avatar-rounded shadow-sm avatar-xl mb-0 mt-2 backdrop-blur">{{hours}}</h4>
                                    </div>
                                </div>
                                <div>
                                    <div class=""><p class="mb-1 font-medium">MINUTES</p>
                                        <h4 class="mb-0 avatar block bg-primarytint2color/10 !text-primarytint2color avatar-rounded shadow-sm avatar-xl mt-2 backdrop-blur">{{minutes}}</h4>
                                    </div>
                                </div>
                                <div>
                                    <div class=""><p class="mb-1 font-medium">SECONDS</p>
                                        <h4 class="mb-0 avatar block bg-primarytint3color/10 !text-primarytint3color avatar-rounded shadow-sm avatar-xl mt-2 backdrop-blur">{{seconds}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xxl:col-span-4 xl:col-span-4 lg:col-span-3 md:col-span-3 sm:col-span-2 col-span-12 my-auto">

    </div>

</div>