<!-- Start::row-1 -->
<div class="box">
    <div class="box-header justify-between">
        <div class="box-title">
            Usuarios parceiros
        </div>
        <div class="flex gap-4 items-center flex-wrap">

            <div class="custom-form-group grow">
                <input type="text" class="form-control !pe-[7rem]" #inputFiltroNomeUsuarioParceiro
                    (keyup)="filtroNomeUsuarioParceiro(inputFiltroNomeUsuarioParceiro.value)"
                    placeholder="Pesquisar por nome" aria-describedby="button-addon2">
                <a aria-label="anchor" href="javascript:void(0);"
                    class="text-textmuted dark:text-textmuted/50 custom-form-btn"><i class="ti ti-search"></i></a>
            </div>
        </div>
    </div>


    <div class="box-body p-0">
        <div class="table-responsive">
            <spk-reusable-tables [columns]="ordersColumn"
                tableClass="ti-custom-table ti-custom-table-hover text-nowrap">
                <tr class="order-list border-b !border-defaultborder dark:!border-defaultborder/10"
                    *ngFor="let usuarioParceiro of resultset?.registros">


                    <td>{{usuarioParceiro.id}}</td>
                    <td> <i
                            class="ri-account-circle-line me-2 align-middle text-[14px] text-textmuted dark:text-textmuted/50"></i>{{usuarioParceiro.nome}}
                    </td>
                    <td><i
                            class="ri-mail-line me-2 align-middle text-[14px] text-textmuted dark:text-textmuted/50"></i>{{usuarioParceiro.email}}
                    </td>
                    <td><i
                            class="ri ri-home-line me-2 align-middle text-[14px] text-textmuted dark:text-textmuted/50"></i>{{usuarioParceiro.cpf_cnpj}}
                    </td>
                    <td> <i
                            class="ri-phone-line me-2 align-middle text-[14px] text-textmuted dark:text-textmuted/50"></i>
                        {{usuarioParceiro.celular}}</td>
                    <td> <i
                            class="ri-phone-line me-2 align-middle text-[14px] text-textmuted dark:text-textmuted/50"></i>
                        {{usuarioParceiro.funcao}}</td>

                    <td>
                        <!-- <a aria-label="anchor" href="javascript:void(0);" (click)="editarUsuarioParceiro(usuarioParceiro)" class="order-delete-btn ti-btn ti-btn-sm ti-btn-soft-info btn-wave waves-effect waves-light !mb-0">
                                <i class="ri-edit-line"></i>
                            </a>
                            <a aria-label="anchor" href="javascript:void(0);" class="order-delete-btn ti-btn ti-btn-sm ti-btn-soft-primary2 btn-wave waves-effect waves-light !mb-0">
                                <i class="ri-delete-bin-line"></i>
                            </a>-->

                        <a (click)="abrirModalEdicaoUsuarioParceiro(usuarioParceiro)"
                            class="ti-btn ti-btn-icon ti-btn-sm ti-btn-soft-info btn-wave waves-effect waves-light"
                            data-hs-overlay="#ModalEditarUsuarioParceiro">
                            <i class="ri-edit-line"></i></a>
                        <a aria-label="anchor" href="javascript:void(0);"
                            (click)="excluirUsuarioParceiro(usuarioParceiro)"
                            class="order-delete-btn ti-btn ti-btn-sm ti-btn-soft-primary2 btn-wave waves-effect waves-light !mb-0">
                            <i class="ri-delete-bin-line"></i>
                        </a>


                    </td>
                </tr>
            </spk-reusable-tables>
        </div>


        <div class="box-footer">
            <div class="flex items-center flex-wrap overflow-auto">

                <div class="ms-auto my-2">
                    <div class="flex items-center flex-wrap overflow-auto">
                        <app-paginador [length]="getTotalRegistro()" [pageIndex]="pagina"
                            (page)="onPageChange($event)"></app-paginador>
                    </div>
                </div>

            </div>
        </div>
        <!--End::row-1 -->

        <!--modal editar-->
        <div class="xl:col-span-6 col-span-12">
            <div id="ModalEditarUsuarioParceiro" class="hs-overlay hidden ti-modal">
                <div
                    class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out min-h-[calc(100%-3.5rem)] flex items-center">
                    <div class="ti-modal-content w-full">
                        <div class="ti-modal-body">
                            <app-editar-usuario-parceiro *ngIf="usuarioParceiroSelecionadoModal" [parceiro]="parceiro"
                                [usuarioParceiro]="usuarioParceiroSelecionadoModal"
                                (closeModal)="fecharModalEdicao($event)">
                            </app-editar-usuario-parceiro>
                        </div>
                    </div>
                </div>
            </div>

        </div>