<div class="grid grid-cols-12 gap-x-12">
    <div class="xxl:col-span-12 xl:col-span-12 col-span-12">
        <div class="box">
            <div class="box-header justify-between">
                <div class="box-title">
                    Cadastro de Repositorio
                </div>
            </div>
            <div class="box-body">
                <form class="grid grid-cols-12  gap-x-3 gap-y-2 items-center mt-2" name="repositorioForm"
                    [formGroup]="repositorioForm" novalidate (ngSubmit)="salvar()">
                    <div class="sm:col-span-3 col-span-12">
                        <label for="input-label" class="ti-form-label">Nome </label>
                        <input type="text" class="form-control" id="specificSizeInputName" placeholder="Nome"
                            formControlName="nome">
                    </div>
                    <div class="sm:col-span-3 col-span-12">
                        <label for="input-label" class="ti-form-label">Titulo</label>
                        <div class="input-group">
                            
                            <input type="text" class="form-control" id="specificSizeInputGroupEmail"
                                placeholder="Titulo" formControlName="titulo">
                        </div>
                    </div>


                    <div class="sm:col-span-3 col-span-12">
                        <label for="input-label" class="ti-form-label">Tipo</label>
                            <select  for="input-label" class="ti-form-label" (change)="listarRegistrosForm($event)" formControlName="tipo">
                                <option value=""></option>
                                <option value="SISTEMA_ARQUIVO">Local</option>
                                <option value="AWS_S3">Amazon S3</option>
                                <option value="GOOGLE_STORAGE">Google Storate</option>
                            </select>
                        
                    </div>
       
                    <div class="sm:col-span-3 col-span-12">
                        <div class="data-head p-2">
                                    <h6 class="overline-title">Dados do Repositório</h6>
                                </div>
                        <div class="row g-3 align-center" *ngFor="let registroForm of registrosForm; let i = index">
                         
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label" for="site-name">{{registroForm.nome}}</label><br/>
                                    <span class="form-note">{{registroForm.descricao}}</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <input #incluirValorForm id="inputValor{{i}}" type="text" class="form-control"
                                            (input)="registroForm.valor = incluirValorForm.value">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </form>
            </div>


            <div class="box-footer">
                <button class="ti-btn ti-btn-primary btn-wave ms-auto float-end" (click)="salvar()">Salvar</button>
                <button class="ti-btn ti-btn-secondary btn-wave ms-auto float-end" (click)="voltar()">Voltar</button>
            </div>
        </div>
    </div>
</div>