<app-page-header [title]="'Ui Elements'" [title1]="['Button Group']" [activeitem]="'Button Group'"></app-page-header>

<!--ROW-START-->
<div class="grid grid-cols-12 gap-x-6">
  <div class="xl:col-span-6 col-span-12">
    <app-showcode-card
    [title]="' Basic example'"
    [prism]="prsimCodeData.buttongroupTS1"
  >
              <div class="inline-flex rounded-md shadow-sm me-5">
                  <button type="button"
                      class="ti-btn-group py-3 px-4 border bg-white dark:bg-bodybg  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                      Year
                  </button>
                  <button type="button"
                      class="ti-btn-group py-3 px-4 border bg-white dark:bg-bodybg  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                      Month
                  </button>
                  <button type="button"
                      class="ti-btn-group py-3 px-4 border bg-white dark:bg-bodybg  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                      Date
                  </button>
              </div>
    </app-showcode-card>
  </div>
  <div class="xl:col-span-6 col-span-12">
    <app-showcode-card
    [title]="' Mixed style'"
    [prism]="prsimCodeData.buttongroupTS2"
  >
              <div class="ti-btn-group !gap-0 !p-0" role="group" aria-label="Basic mixed styles example">
                  <button type="button" class="ti-btn-group py-3 px-4 border !border-danger ti-btn-danger btn-wave">Year</button>
                  <button type="button" class="ti-btn-group py-3 px-4 border !border-warning ti-btn-warning btn-wave">Month</button>
                  <button type="button" class="ti-btn-group py-3 px-4 border !border-success ti-btn-success btn-wave">Date</button>
              </div>
    </app-showcode-card>
  </div>
  <div class="xl:col-span-12 col-span-12">
    <app-showcode-card
    [title]="' Button group break'"
    [prism]="prsimCodeData.buttongroupTS3"
  >
              <div class="flex flex-col md:inline-flex md:flex-row rounded-sm shadow-sm">
                  <button type="button"
                      class="py-2 px-3 inline-flex justify-center items-center gap-2 -mt-px -ms-px first:rounded-t-sm last:rounded-b-sm sm:first:rounded-s-sm sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-sm border font-medium bg-white dark:bg-bodybg  align-middle hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-0 focus:ring-primary transition-all text-sm dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                      Item 1
                  </button>
                  <button type="button"
                      class="py-2 px-3 inline-flex justify-center items-center gap-2 -mt-px -ms-px first:rounded-t-sm last:rounded-b-sm sm:first:rounded-s-sm sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-sm border font-medium bg-white dark:bg-bodybg  align-middle hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-0 focus:ring-primary transition-all text-sm dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                      Item 2
                  </button>
                  <button type="button"
                      class="py-2 px-3 inline-flex justify-center items-center gap-2 -mt-px -ms-px first:rounded-t-sm last:rounded-b-sm sm:first:rounded-s-sm sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-sm border font-medium bg-white dark:bg-bodybg  align-middle hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-0 focus:ring-primary transition-all text-sm dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                      Item 3
                  </button>
              </div>
    </app-showcode-card>
  </div>
  <div class="xl:col-span-12 col-span-12">
      <div class="grid grid-cols-12 gap-x-6">
          <div class="xl:col-span-6 col-span-12">
            <app-showcode-card
            [title]="'Sizing'"
            [prism]="prsimCodeData.buttongroupTS4"
          >
                      <div class="inline-flex rounded-md shadow-sm me-6">
                          <button type="button"
                              class="ti-btn-group border py-3 px-4 bg-white dark:bg-bodybg  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                              Small
                          </button>
                          <button type="button"
                              class="ti-btn-group border py-3 px-4 bg-white dark:bg-bodybg  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                              Small
                          </button>
                          <button type="button"
                              class="ti-btn-group border py-3 px-4 bg-white dark:bg-bodybg  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                              Small
                          </button>
                      </div>

                      <div class="inline-flex rounded-md shadow-sm me-6">
                          <button type="button"
                              class="ti-btn-group bg-white dark:bg-bodybg border  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10  sm:p-4 p-3">
                              Default
                          </button>
                          <button type="button"
                              class="ti-btn-group bg-white dark:bg-bodybg border  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10  sm:p-4 p-3">
                              Default
                          </button>
                          <button type="button"
                              class="ti-btn-group bg-white dark:bg-bodybg border  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10  sm:p-4 p-3">
                              Default
                          </button>
                      </div>

                      <div class="inline-flex rounded-md shadow-sm mt-2">
                          <button type="button"
                              class="ti-btn-group bg-white dark:bg-bodybg border  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10  p-[1.3125rem]">
                              Large
                          </button>
                          <button type="button"
                              class="ti-btn-group bg-white dark:bg-bodybg border  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10  p-[1.3125rem]">
                              Large
                          </button>
                          <button type="button"
                              class="ti-btn-group bg-white dark:bg-bodybg border  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10  p-[1.3125rem]">
                              Large
                          </button>
                      </div>
             </app-showcode-card>
          </div>
          <div class="xl:col-span-6 col-span-12">
            <app-showcode-card
            [title]="'Vertical variation'"
            [prism]="prsimCodeData.buttongroupTS5"
          >
                      <div class="max-w-xs flex flex-col rounded-sm shadow-sm">
                          <button type="button"
                              class="focus-visible:outline-none focus:!outline-none py-2 px-3 inline-flex justify-center items-center gap-2 rounded-t-md border font-medium bg-white dark:bg-bodybg  align-middle hover:bg-gray-50 focus:z-10 focus:ring-0 focus:ring-primary transition-all text-sm dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                              Item 1
                          </button>
                          <button type="button"
                              class="-mt-px focus-visible:outline-none focus:!outline-none py-2 px-3 inline-flex justify-center items-center gap-2 border font-medium bg-white dark:bg-bodybg  align-middle hover:bg-gray-50 focus:z-10 focus:ring-0 focus:ring-primary transition-all text-sm dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                              Item 2
                          </button>
                          <button type="button"
                              class="-mt-px focus-visible:outline-none focus:!outline-none py-2 px-3 inline-flex justify-center items-center gap-2 rounded-b-md border font-medium bg-white dark:bg-bodybg  align-middle hover:bg-gray-50 focus:z-10 focus:ring-0 focus:ring-primary transition-all text-sm dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                              Item 3
                          </button>
                      </div>
            </app-showcode-card>
          </div>
      </div>
      <div class="xl:col-span-12 col-span-12">
        <app-showcode-card
        [title]="'Basic Button Group'"
        [prism]="prsimCodeData.buttongroupTS6"
      >
                <div class="inline-flex rounded-md shadow-sm mb-5 me-5">
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border bg-white dark:bg-bodybg  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                    Year
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border bg-white dark:bg-bodybg  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                    Month
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border bg-white dark:bg-bodybg  hover:bg-gray-50 focus:ring-primary dark:bg-bgdark dark:hover:bg-black/20 dark:border-white/10 ">
                    Date
                  </button>
                </div>
                <div class="inline-flex rounded-md shadow-sm mb-5 me-5">
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-primary border-white/10 dark:border-white/10">
                    Year
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-primary border-white/10 dark:border-white/10">
                    Month
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-primary border-white/10 dark:border-white/10">
                    Date
                  </button>
                </div>
                <div class="inline-flex rounded-md shadow-sm mb-5 me-5">
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-secondary border-white/10 dark:border-white/10">
                    Year
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-secondary border-white/10 dark:border-white/10">
                    Month
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-secondary border-white/10 dark:border-white/10">
                    Date
                  </button>
                </div>
                <div class="inline-flex rounded-md shadow-sm mb-5 me-5">
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-warning border-white/10 dark:border-white/10">
                    Year
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-warning border-white/10 dark:border-white/10">
                    Month
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-warning border-white/10 dark:border-white/10">
                    Date
                  </button>
                </div>
                <div class="inline-flex rounded-md shadow-sm mb-5 me-5">
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-danger border-white/10 dark:border-white/10">
                    Year
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-danger border-white/10 dark:border-white/10">
                    Month
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-danger border-white/10 dark:border-white/10">
                    Date
                  </button>
                </div>
                <div class="inline-flex rounded-md shadow-sm mb-5 me-5">
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-info border-white/10 dark:border-white/10">
                    Year
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-info border-white/10 dark:border-white/10">
                    Month
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-info border-white/10 dark:border-white/10">
                    Date
                  </button>
                </div>
                <div class="inline-flex rounded-md shadow-sm mb-0">
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-success border-white/10 dark:border-white/10">
                    Year
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-success border-white/10 dark:border-white/10">
                    Month
                  </button>
                  <button type="button" class="ti-btn-group btn-wave py-3 px-4 border ti-btn-success border-white/10 dark:border-white/10">
                    Date
                  </button>
                </div>
        </app-showcode-card>
      </div>
 </div>
</div>
<!--ROW-END-->