<div class="grid grid-cols-12 gap-x-12">
  <div class="xxl:col-span-12 xl:col-span-12 col-span-12">
    <div class="box">
      <div class="box-header justify-between">
        <div class="box-title"> <h3>  
          Detalhes dos parceiros
        </h3>
      </div>
      </div>
      <div class="box-body">
        <form name="telaView" [formGroup]="telaView" novalidate>
          <div class="grid grid-cols-12 gap-x-6">
            <div class="xl:col-span-12 col-span-12">
              <div class="grid grid-cols-12 sm:gap-x-6 gap-y-6">
                <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                  
                  <label class="ti-form-label dark:text-defaulttextcolor/80  mb-2">Nome</label>
                    <span class="block mb-1"><i class="ri-account-circle-line me-2 align-middle text-[14px] text-textmuted dark:text-textmuted/50"></i>{{parceiro.nome}}</span>
                    <label class="ti-form-label dark:text-defaulttextcolor/80  mb-2">Email</label>
                    <span class="block mb-1"><i class="ri-mail-line me-2 align-middle text-[14px] text-textmuted dark:text-textmuted/50"></i>{{parceiro.email}}</span>

                    <label class="ti-form-label dark:text-defaulttextcolor/80   mb-2">Telefone para contato</label>
                    <span class="block"><i class="ri-phone-line me-2 align-middle text-[14px] text-textmuted dark:text-textmuted/50"></i>{{parceiro.numero}}</span>
                   
                       <label class="ti-form-label dark:text-defaulttextcolor/80  mb-2">Endereço</label>
                    <span class="block mb-1"><i class="bx bx-home-alt me-2 align-middle text-[14px] text-textmuted dark:text-textmuted/50"></i>{{parceiro.cidade}} - {{parceiro.bairro}}, {{parceiro.complemento}}</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="col-span-12 md:col-span-6 xxl:!col-span-4">
        <div class="box">
          <div class="box-header">
            <h5 class="box-title"></h5>
          </div>
          <div class="box-body">
            <select id="tab-select"
              class="mb-5 sm:hidden py-2 px-3 pe-9 block w-full border-gray-200 rounded-sm text-sm focus:border-primary focus:ring-primary dark:bg-bgdark dark:border-white/10 dark:text-[#8c9097] dark:text-white/50"
              aria-label="Tabs">
              <option value="#hs-tab-to-select-1" class="">Unidades</option>
              <option value="#hs-tab-to-select-2" class="">Usuarios</option>
            </select>
            

            <div class="hidden sm:block border-b-0 border-gray-200 dark:border-white/10">
              <nav class="flex space-x-2 rtl:space-x-reverse" aria-label="Tabs" role="tablist">
                <button type="button"
                  class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-primary dark:hs-tab-active:bg-transparent dark:hs-tab-active:border-b-white/10 dark:hs-tab-active:text-primary -mb-px py-2 px-3 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-defaulttextcolor rounded-t-sm hover:text-primary dark:bg-black/20 dark:border-white/10 dark:text-[#8c9097] dark:text-white/50 dark:hover:text-gray-300 active"
                  id="hs-tab-to-select-item-1" data-hs-tab="#hs-tab-to-select-1" aria-controls="hs-tab-to-select-1">
                  Unidades
                </button>
                <button type="button"
                  class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-primary dark:hs-tab-active:bg-transparent dark:hs-tab-active:border-b-white/10 dark:hs-tab-active:text-primary -mb-px py-2 px-3 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-defaulttextcolor rounded-t-sm hover:text-primary dark:bg-black/20 dark:border-white/10 dark:text-[#8c9097] dark:text-white/50 dark:hover:text-gray-300"
                  id="hs-tab-to-select-item-2" data-hs-tab="#hs-tab-to-select-2" aria-controls="hs-tab-to-select-2">
                  Usuarios
                </button>
              </nav>
            </div>

            <div class="">
              <div id="hs-tab-to-select-1" role="tabpanel" aria-labelledby="hs-tab-to-select-item-1">
                <div class="xl:col-span-6 col-span-12">
                  <button type="button" class="hs-dropdown-toggle ti-btn btn-wave ti-btn-primary"
                    data-hs-overlay="#exampleModalScrollable4">
                    <i class="ri-user-add-line me-1 align-middle"></i>Adicionar
                  </button>
                  <div id="exampleModalScrollable4" class="hs-overlay hidden ti-modal">
                    <div
                      class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out min-h-[calc(100%-3.5rem)] flex items-center">
                      <div class="ti-modal-content w-full">
                        <div class="ti-modal-header">

                        </div>
                        <div class="ti-modal-body">
                          <app-incluir-unidade [parceiro]="parceiro"></app-incluir-unidade>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <app-listar-unidade [parceiro]="parceiro" [telaView]="telaView"></app-listar-unidade>
              </div>
              <div id="hs-tab-to-select-2" class="hidden" role="tabpanel" aria-labelledby="hs-tab-to-select-item-2">
                <div class="xl:col-span-6 col-span-12">
                  <button type="button" class="hs-dropdown-toggle ti-btn btn-wave ti-btn-primary"
                    data-hs-overlay="#exampleModalScrollable5">
                    <i class="ri-user-add-line me-1 align-middle"></i>Adicionar </button>
                  <div id="exampleModalScrollable5" class="hs-overlay hidden ti-modal">
                    <div
                      class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out min-h-[calc(100%-3.5rem)] flex items-center">
                      <div class="ti-modal-content w-full">
                        <div class="ti-modal-header">

                        </div>
                        <div class="ti-modal-body">
                          <app-incluir-usuario-parceiro [parceiro]="parceiro"></app-incluir-usuario-parceiro>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <app-listar-usuario-parceiro [parceiro]="parceiro" [telaView]="telaView"></app-listar-usuario-parceiro>
              </div>

              <div id="hs-tab-to-select-3" class="hidden" role="tabpanel" aria-labelledby="hs-tab-to-select-item-3">
              </div>
            </div>
          </div>

          <div class="box-footer">
            <button class="ti-btn ti-btn-secondary btn-wave ms-auto float-end" (click)="voltar()">
              Voltar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>