<app-page-header [title]="'Ui Elements'" [title1]="['Object Fit']" [activeitem]="'Object Fit'"></app-page-header>

 <!-- Start::row-1 -->
 <div class="grid grid-cols-12 gap-x-6">
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Contain'" [prism]="prsimCodeData.objectTS1">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="object-contain border dark:border-defaultborder/10 !rounded-md"
                  alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Cover'" [prism]="prsimCodeData.objectTS2">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="object-cover border dark:border-defaultborder/10 md:!rounded-md" alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Fill'" [prism]="prsimCodeData.objectTS3">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="object-fill border dark:border-defaultborder/10 !rounded-md" alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Scale Down'" [prism]="prsimCodeData.objectTS4">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="object-scale-down border dark:border-defaultborder/10 !rounded-md" alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit None'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS5">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="object-none border dark:border-defaultborder/10 !rounded-md" alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Contain (SM - responsive)'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS6">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="sm:object-contain border dark:border-defaultborder/10 !rounded-md" alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Contain (MD - responsive)'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS7">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="md:object-contain border dark:border-defaultborder/10 !rounded-md" alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Contain (LG - responsive)'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS8">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="lg:object-contain border dark:border-defaultborder/10 !rounded-md" alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Contain (XL - responsive)'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS9">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="xl:object-contain border dark:border-defaultborder/10 !rounded-md" alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Contain (XXL - responsive)'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS10">
              <div class="object-fit-container">
                  <img src="./assets/images/media/media-28.jpg"
                  class="xxl:object-contain border dark:border-defaultborder/10 !rounded-md"
                  alt="...">
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Contain Video'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS11">
              <div class="object-fit-container">
                  <video src="./assets/video/1.mp4"
                  class="object-contain !rounded-md border dark:border-defaultborder/10"
                  autoplay loop muted></video>
              </div>
             
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Cover Video'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS12">
              <div class="object-fit-container">
                  <video src="./assets/video/1.mp4"
                  class="object-cover !rounded-md border dark:border-defaultborder/10"
                  autoplay loop muted></video>
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Fill Video'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS13">
              <div class="object-fit-container">
                  <video src="./assets/video/1.mp4"
                  class="object-fill !rounded-md border dark:border-defaultborder/10"
                  autoplay loop muted></video>
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit Scale Video'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS13">
              <div class="object-fit-container">
                  <video src="./assets/video/1.mp4"
                  class="object-scale-down !rounded-md border dark:border-defaultborder/10"
                  autoplay loop muted></video>
              </div>
    </app-showcode-card>
  </div>
  <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <app-showcode-card [title]="'Object Fit None Video'" [boxHeader]="'flex'" [prism]="prsimCodeData.objectTS14">
              <div class="object-fit-container">
                  <video src="./assets/video/1.mp4"
                  class="object-none !rounded-md border dark:border-defaultborder/10"
                  autoplay loop muted></video>
              </div>
    </app-showcode-card>
  </div>
</div>
<!-- End::row-1 -->