<app-page-header [title]="'Pages'" [title1]="['Reviews']" [activeitem]="'Reviews'"></app-page-header>
 
 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-12">
        <h6 class="mb-3">Reviews Style 1 :</h6>
        <div class="swiper testimonialSwiperService1">
            <div class="swiper-wrapper">
                <swiper-container 
                #swiperContainer
                class="swiper mySwiper" 
                space-between="30"
                slides-per-view="5"
                slides-per-group="1"  
                autoplay-delay="2000"  autoplay-disable-on-interaction="false"
              >
                  <swiper-slide >
                    <div class="box text-white">
                        <div class="box-body">
                            <div class="flex justify-between gap-2 items-center mb-3">
                                <span class="avatar !rounded-full">
                                    <img src="./assets/images/faces/1.jpg" alt=""
                                        class="img-fluid !rounded-full">
                                </span>
                                <div class="text-end">
                                    <span class="text-info block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-line me-1"></i>
                                    </span>
                                    <span class="op-8 block text-xs font-medium">65 views </span>
                                </div>
                            </div>
                            <p class="text-[14px] mb-4">
                                This
                                Product is amazing! It has made my daily tasks so much easier and is
                                very user-friendly. --
                                <span class="hs-tooltip inline-block relative  [--placement:right]">
                                    <a href="javascript:void(0);" class="hs-tooltip-toggle text-[11px] font-semibold hs-tooltip-toggle transition">
                                        Read More
                                      <span class="hs-tooltip-content ti-main-tooltip-content max-w-[200px] hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 max-w-[200px] py-1 px-2 !bg-primary !text-xs !font-medium !text-white shadow-sm" role="tooltip">
                                        customer service at this company is outstanding. They were
                                            quick
                                            to respond to my inquiry and resolved my issue within hours.
                                      </span>
                                    </a>
                                </span>
                            </p>
                            <div class="flex items-center flex-wrap justify-between gap-4">
                                <div class="flex-auto">
                                    <p class="mb-0 font-bold text-[14px] text-primary">Hadley Kylin</p>
                                    <p class="mb-0 text-[11px] font-normal op-8">UX Guru</p>
                                </div>
                                <div class="ms-auto text-xs font-semibold op-8 text-end">
                                    <div class="ti-btn ti-btn-sm ti-btn-icon ti-btn-soft-primary1">
                                        <i class="ri-thumb-up-line"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide >
                
                    <div class="box text-white">
                        <div class="box-body">
                            <div class="flex justify-between gap-2 items-center mb-3">
                                <span class="avatar !rounded-full">
                                    <img src="./assets/images/faces/13.jpg" alt=""
                                        class="img-fluid !rounded-full">
                                </span>
                                <div class="text-end">
                                     <span class="text-info block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-line me-1"></i>
                                    </span>
                                    <span class="op-8 block text-xs font-medium">87 views </span>
                                </div>
                            </div>
                            <p class="text-[14px] mb-4">
                                Helping
                                me plan for my future. Their expertise and personalized approach have
                                given me great.--
                                <span class="hs-tooltip inline-block relative  [--placement:right]">
                                    <a href="javascript:void(0);" class="hs-tooltip-toggle text-[11px] font-semibold hs-tooltip-toggle transition">
                                        Read More
                                      <span class="hs-tooltip-content ti-main-tooltip-content max-w-[200px] hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 max-w-[200px] py-1 px-2 !bg-primary !text-xs !font-medium !text-white shadow-sm" role="tooltip">
                                        customer service at this company is outstanding. They were
                                            quick
                                            to respond to my inquiry and resolved my issue within hours.
                                      </span>
                                    </a>
                                </span>
                            </p>
                            <div class="flex items-center flex-wrap justify-between gap-4">
                                <div class="flex-auto">
                                    <p class="mb-0 font-bold text-[14px] text-primary">Spencer Robin</p>
                                    <p class="mb-0 text-[11px] font-normal op-8">Support Engineer</p>
                                </div>
                                <div class="ms-auto text-xs font-semibold op-8 text-end">
                                    <div class="ti-btn ti-btn-sm ti-btn-icon ti-btn-soft-primary1">
                                        <i class="ri-thumb-up-line"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide >
                    <div class="box text-white">
                        <div class="box-body">
                            <div class="flex justify-between gap-2 items-center mb-3">
                                <span class="avatar !rounded-full">
                                    <img src="./assets/images/faces/3.jpg" alt=""
                                        class="img-fluid !rounded-full">
                                </span>
                                <div class="text-end">
                                     <span class="text-info block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-line me-1"></i>
                                    </span>
                                    <span class="op-8 block text-xs font-medium">47 views </span>
                                </div>
                            </div>
                            <p class="text-[14px] mb-4">
                                A game-changer for our business. Their insights and
                                strategic advice helped us streamline. --
                                <span class="hs-tooltip inline-block relative  [--placement:right]">
                                    <a href="javascript:void(0);" class="hs-tooltip-toggle text-[11px] font-semibold hs-tooltip-toggle transition">
                                        Read More
                                      <span class="hs-tooltip-content ti-main-tooltip-content max-w-[200px] hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 max-w-[200px] py-1 px-2 !bg-primary !text-xs !font-medium !text-white shadow-sm" role="tooltip">
                                        customer service at this company is outstanding. They were
                                            quick
                                            to respond to my inquiry and resolved my issue within hours.
                                      </span>
                                    </a>
                                </span>
                            </p>
                            <div class="flex items-center flex-wrap justify-between gap-4">
                                <div class="flex-auto">
                                    <p class="mb-0 font-bold text-[14px] text-primary">Iliana Lilly</p>
                                    <p class="mb-0 text-[11px] font-normal op-8">Optima Works</p>
                                </div>
                                <div class="ms-auto text-xs font-semibold op-8 text-end">
                                    <div class="ti-btn ti-btn-sm ti-btn-icon ti-btn-soft-primary1">
                                        <i class="ri-thumb-up-line"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide >
                    <div class="box text-white">
                        <div class="box-body">
                            <div class="flex justify-between gap-2 items-center mb-3">
                                <span class="avatar !rounded-full">
                                    <img src="./assets/images/faces/14.jpg" alt=""
                                        class="img-fluid !rounded-full">
                                </span>
                                <div class="text-end">
                                     <span class="text-info block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-line me-1"></i>
                                    </span>
                                    <span class="op-8 block text-xs font-medium">87 views </span>
                                </div>
                            </div>
                            <p class="text-[14px] mb-4">
                                Incredibly
                                knowledgeable and supportive throughout the entire process. They
                                provided clear. --
                                <span class="hs-tooltip inline-block relative  [--placement:right]">
                                    <a href="javascript:void(0);" class="hs-tooltip-toggle text-[11px] font-semibold hs-tooltip-toggle transition">
                                        Read More
                                      <span class="hs-tooltip-content ti-main-tooltip-content max-w-[200px] hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 max-w-[200px] py-1 px-2 !bg-primary !text-xs !font-medium !text-white shadow-sm" role="tooltip">
                                        customer service at this company is outstanding. They were
                                            quick
                                            to respond to my inquiry and resolved my issue within hours.
                                      </span>
                                    </a>
                                </span>
                            </p>
                            <div class="flex items-center flex-wrap justify-between gap-4">
                                <div class="flex-auto">
                                    <p class="mb-0 font-bold text-[14px] text-primary">Tommy Rosen</p>
                                    <p class="mb-0 text-[11px] font-normal op-8">Freelance Dev</p>
                                </div>
                                <div class="ms-auto text-xs font-semibold op-8 text-end">
                                    <div class="ti-btn ti-btn-sm ti-btn-icon ti-btn-soft-primary1">
                                        <i class="ri-thumb-up-line"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide >
                    <div class="box text-white">
                        <div class="box-body">
                            <div class="flex justify-between gap-2 items-center mb-3">
                                <span class="avatar !rounded-full">
                                    <img src="./assets/images/faces/5.jpg" alt=""
                                        class="img-fluid !rounded-full">
                                </span>
                                <div class="text-end">
                                     <span class="text-info block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-line me-1"></i>
                                    </span>
                                    <span class="op-8 block text-xs font-medium">87 views </span>
                                </div>
                            </div>
                            <p class="text-[14px] mb-4">
                                This
                                blender a month ago, and it has exceeded my expectations. It’s powerful,
                                easy to clean, and makes perfect --
                                <span class="hs-tooltip inline-block relative  [--placement:right]">
                                    <a href="javascript:void(0);" class="hs-tooltip-toggle text-[11px] font-semibold hs-tooltip-toggle transition">
                                        Read More
                                      <span class="hs-tooltip-content ti-main-tooltip-content max-w-[200px] hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 max-w-[200px] py-1 px-2 !bg-primary !text-xs !font-medium !text-white shadow-sm" role="tooltip">
                                        customer service at this company is outstanding. They were
                                            quick
                                            to respond to my inquiry and resolved my issue within hours.
                                      </span>
                                    </a>
                                </span>
                            </p>
                            <div class="flex items-center flex-wrap justify-between gap-4">
                                <div class="flex-auto">
                                    <p class="mb-0 font-bold text-[14px] text-primary">Jasmine Della</p>
                                    <p class="mb-0 text-[11px] font-normal op-8">Web oneness</p>
                                </div>
                                <div class="ms-auto text-xs font-semibold op-8 text-end">
                                    <div class="ti-btn ti-btn-sm ti-btn-icon ti-btn-soft-primary1">
                                        <i class="ri-thumb-up-line"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide >
                    <div class="box text-white">
                        <div class="box-body">
                            <div class="flex justify-between gap-2 items-center mb-3">
                                <span class="avatar !rounded-full">
                                    <img src="./assets/images/faces/14.jpg" alt=""
                                        class="img-fluid !rounded-full">
                                </span>
                                <div class="text-end">
                                     <span class="text-info block ms-1">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-line me-1"></i>
                                    </span>
                                    <span class="op-8 block text-xs font-medium">87 views </span>
                                </div>
                            </div>
                            <p class="text-[14px] mb-4">
                                Cloud
                                architect designed a scalable and efficient cloud infrastructure for us.
                                Their expertise has greatly. --
                                <span class="hs-tooltip inline-block relative  [--placement:right]">
                                    <a href="javascript:void(0);" class="hs-tooltip-toggle text-[11px] font-semibold hs-tooltip-toggle transition">
                                        Read More
                                      <span class="hs-tooltip-content ti-main-tooltip-content max-w-[200px] hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 max-w-[200px] py-1 px-2 !bg-primary !text-xs !font-medium !text-white shadow-sm" role="tooltip">
                                        customer service at this company is outstanding. They were
                                            quick
                                            to respond to my inquiry and resolved my issue within hours.
                                      </span>
                                    </a>
                                </span>
                            </p>
                            <div class="flex items-center flex-wrap justify-between gap-4">
                                <div class="flex-auto">
                                    <p class="mb-0 font-bold text-[14px] text-primary">Samson Thomas</p>
                                    <p class="mb-0 text-[11px] font-normal op-8">Cloud architect</p>
                                </div>
                                <div class="ms-auto text-xs font-semibold op-8 text-end">
                                    <div class="ti-btn ti-btn-sm ti-btn-icon ti-btn-soft-primary1">
                                        <i class="ri-thumb-up-line"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                </swiper-container>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Reviews Style 2 :
                </div>
            </div>
            <div class="box-body pb-0">
                <div class="swiper testimonialSwiper2">
                    <div class="swiper-wrapper">
                        <swiper-container 
                        #swiperContainer1
                        class="swiper mySwiper" 
                        space-between="30"
                        slides-per-view="3"
                        slides-per-group="1"
      
                        autoplay-delay="2000"  autoplay-disable-on-interaction="false"
                      >
                      @for(review of reviews;track $index){
                          <swiper-slide >
                            <div class="box overflow-hidden">
                                <div
                                    class="p-4 text-center items-center justify-content-start gap-2 border-b border-dashed border-defaultborder dark:border-defaultborder/10 bg-{{review.bg1}}/10">
                                    <img [src]="review.src" alt="img"
                                        class="mb-2 mx-auto text-center avatar avatar-xl !rounded-full shadow-sm">
                                    <div class="grow">
                                        <p class="mb-0 font-semibold h6">{{review.name}}</p>
                                        <span
                                            class="font-normal text-textmuted dark:text-textmuted/50 text-xs">{{review.role}}</span>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="mb-0">
                                        {{review.description}}<i
                                            class="op-4 text-[11px] font-medium">--- {{review.name}}</i>
                                    </div>
                                    <div class="badge bg-{{review.bg}} !rounded-full float-end">{{review.rating}}
                                        <i class="ri-star-fill text-warning"></i>
                                    </div>
                                    <i
                                        class="bx bxs-quote-alt-right review-quote !text-{{review.bg2}} !opacity-50"></i>
                                </div>
                            </div>
                        </swiper-slide>
                    }
                    </swiper-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <h6 class="mb-3">Reviews Style 3 :</h6>
        <div class="review-style-2 mb-3">
            <div class="swiper pagination-dynamic testimonialSwiperService">
                <div class="swiper-wrapper">
                    <swiper-container 
                    #swiperContainer2
                    class="swiper mySwiper" 
                    space-between="30"
                    slides-per-view="2"
                    slides-per-group="1"
   [pagination]="{ clickable: true }"
                    autoplay-delay="2000"   autoplay-disable-on-interaction="false"
                  >
                  @for(review3 of reviewsstyle3;track $index){
                    <swiper-slide >
                        <div class="box border mb-0 border-defaultborder dark:border-defaultborder/10">
                            <div class="box-body">
                                <div>
                                    <span class=""><sup><i
                                                class="bi bi-quote text-[2.5rem] me-1 text-primary"></i></sup>
                                        Customer service at this company is
                                        outstanding. They were quick to respond to my inquiry and
                                        resolved my issue within hours. --
                                        <span class="hs-tooltip inline-block relative  [--placement:right]">
                                            <a href="javascript:void(0);" class="hs-tooltip-toggle text-[11px] font-semibold hs-tooltip-toggle transition">
                                                Read More
                                            <span class="hs-tooltip-content ti-main-tooltip-content max-w-[200px] hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 max-w-[200px] py-1 px-2 !bg-primary !text-xs !font-medium !text-white shadow-sm" role="tooltip">
                                                customer service at this company is outstanding. They were
                                                    quick
                                                    to respond to my inquiry and resolved my issue within hours.
                                            </span>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="flex items-center flex-wrap text-end  justify-end">
                                    <div class="text-warning block me-1 text-[10px]">
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-fill me-1"></i>
                                        <i class="ri-star-half-line me-1"></i>
                                    </div>
                                    <span>4.3</span>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="flex items-center flex-wrap">
                                    <span class="avatar !rounded-full me-2">
                                        <img [src]="review3.src" alt=""
                                            class="img-fluid !rounded-full border-primary border-2">
                                    </span>
                                    <div>
                                        <p class="mb-0 font-semibold">{{review3.name}}</p>
                                        <p class="mb-0 text-[11px] font-normal op-8">
                                            {{review3.mail}}&#64;gmail.com</p>
                                    </div>
                                    <div class="ms-auto text-xs font-semibold op-8 text-end">
                                        <div
                                            class="ti-btn ti-btn-sm ti-btn-icon !rounded-full ti-btn-soft-primary ">
                                            <i class="ri-twitter-x-line"></i>
                                        </div>
                                        <div
                                            class="ti-btn ti-btn-sm ti-btn-icon !rounded-full ti-btn-soft-primary1">
                                            <i class="ri-share-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>
                }
                </swiper-container>
                </div>
                <div
                    class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

<!-- Start::row-2 -->
<div class="row">
    <div class="col-xl-12">
        <h6 class="mb-3">Reviews Style 4 :</h6>
        <div class="swiper testimonialSwiper1">
            <div class="swiper-wrapper">
                <swiper-container 
                #swiperContainer3
                class="swiper mySwiper" 
                space-between="30"
                slides-per-view="3"
                slides-per-group="1"  
                autoplay-delay="2000"  autoplay-disable-on-interaction="false"
              >
              @for(review4 of reviewsstyle4;track $index){
                <swiper-slide >
                    <div class="box border relative border-defaultborder dark:border-defaultborder/10">
                        <div class="box-body text-center">
                            <div>
                                <img [src]="review4.src" alt="img"
                                    class="mx-auto text-center avatar avatar-xl !rounded-full border-[3px] border border-primary mb-2 bg-primary">
                            </div>
                            <div class="">
                                <div class="mb-0 font-semibold text-[14px]">{{review4.name}}</div>
                                <div class="mb-2 text-warning text-[11px]">
                                    <i class="leading-none ri-star-fill me-1"></i>
                                    <i class="leading-none ri-star-fill me-1"></i>
                                    <i class="leading-none ri-star-fill me-1"></i>
                                    <i class="leading-none ri-star-fill me-1"></i>
                                    <i class="ri-star-half-line me-1"></i>
                                </div>
                                <i class="bx bxs-quote-right fs-2 me-1 text-primary"></i>
                                <p class="text-[14px] mt-2 mb-1 px-3">
                                    {{review4.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </swiper-slide>
            }
            </swiper-container>
            </div>
        </div>
    </div>
</div>
<!-- End::row-2 -->

<!-- Start::row-3 -->
<div class="row">
    <div class="col-xl-12">
        <h6 class="mb-3">Reviews Style 5 :</h6>
        <div class="swiper testimonialSwiper01 pagination-dynamic mb-4 swiper-backface-hidden">
            <div class="swiper-wrapper">
                <swiper-container 
                #swiperContainer4
                class="swiper mySwiper" 
                space-between="30"
                slides-per-view="3"
                slides-per-group="1" 
                centeredSlides="true" 
                autoplay-delay="2000"  autoplay-disable-on-interaction="false"   
              >

                <swiper-slide class="swiper-slide">
                    <div class="box mb-2 overflow-hidden">
                        <div class="box-body">
                            <p class="text-[1rem]">
                                <i class="ri-double-quotes-l text-[2.5rem] leading-none me-3"></i> The
                                network
                                administrator has ensured our systems run smoothly and
                                securely,always quick to resolve any issues and keep our network
                                optimized."
                            </p>
                            <div class="flex justify-end flex-wrap gap-4">
                                <div class="flex">
                                    <div class="me-2 my-auto mb-0">
                                        <div class="mb-0 leading-none text-xs font-semibold">Vinny Rose
                                            <span class="text-[11px] font-normal ms-2"><i
                                                    class="ri-star-fill text-warning text-[0.5625rem] mb-1 align-middle"></i>
                                                4.5</span>
                                        </div>
                                        <p class="text-xs mb-0 opacity-70">Systems Analyst</p>
                                    </div>
                                    <img src="./assets/images/faces/1.jpg" alt="img"
                                        class="avatar avatar-md avatar-rounded border border-3 border-primarytint2color">
                                </div>
                            </div>
                        </div>
                    </div>
                    </swiper-slide>
             <swiper-slide class="swiper-slide">
                <div class="box mb-2 overflow-hidden">
                    <div class="box-body">
                        <p class="text-[1rem]">
                            <i class="ri-double-quotes-l text-[2.5rem] leading-none me-3"></i>
                            Always
                            reliable and efficient. They resolve technical problems quickly
                            and provide clear, helpful guidance to our staff.."
                        </p>
                        <div class="flex justify-end flex-wrap gap-4">
                            <div class="flex">
                                <div class="me-2 my-auto mb-0">
                                    <div class="mb-0 leading-none text-xs font-semibold">Amaya Usha
                                        <span class="text-[11px] font-normal ms-2"><i
                                                class="ri-star-fill text-warning text-[0.5625rem] mb-1 align-middle"></i>
                                            4.5</span>
                                    </div>
                                    <p class="text-xs mb-0 opacity-70">Web Developer</p>
                                </div>
                                <img src="./assets/images/faces/2.jpg" alt="img"
                                    class="avatar avatar-md avatar-rounded border border-3 border-primarytint2color">
                            </div>
                        </div>
                    </div>
                </div>
             </swiper-slide>
             <swiper-slide class="swiper-slide">
                <div class="box mb-2 overflow-hidden">
                    <div class="box-body">
                        <p class="text-[1rem] pb-4">
                            <i
                                class="ri-double-quotes-l text-[2.5rem] leading-none me-3"></i>Created
                            a
                            website that exceeded our expectations. It’s visually appealing,
                            user-friendly, and has enhanced our online presence
                            significantly.."
                        </p>
                        <div class="flex justify-end flex-wrap gap-4 text-end">
                            <div class="flex">
                                <div class="me-2 my-auto mb-0">
                                    <div class="mb-0 leading-none text-xs font-semibold">Sophia Ben
                                        <span class="text-[11px] font-normal ms-2"><i
                                                class="ri-star-fill text-warning text-[0.5625rem] mb-1 align-middle"></i>
                                            4.5</span>
                                    </div>
                                    <p class="text-[11px] mb-0 opacity-70">Systems Analyst</p>
                                </div>
                                <img src="./assets/images/faces/3.jpg" alt="img"
                                    class="avatar avatar-md avatar-rounded border border-3 border-primarytint2color">
                            </div>
                        </div>
                    </div>
                </div>
             </swiper-slide>
             <swiper-slide>
                <div class="box mb-2 overflow-hidden">
                    <div class="box-body">
                        <p class="text-[1rem]">
                            <i class="ri-double-quotes-l text-[2.5rem] leading-none me-3"></i>The
                            network
                            administrator has ensured our systems run smoothly and
                            securely,always quick to resolve any issues and keep our network
                            optimized."
                        </p>
                        <div class="flex justify-end text-end flex-wrap gap-4">
                            <div class="flex">
                                <div class="me-2 my-auto mb-0">
                                    <div class="mb-0 leading-none text-xs font-semibold">Sissera
                                        William
                                        <span class="text-[11px] font-normal ms-2"><i
                                                class="ri-star-fill text-warning text-[0.5625rem] mb-1 align-middle"></i>
                                            4.5</span>
                                    </div>
                                    <p class="text-xs mb-0 opacity-70">Systems Analyst</p>
                                </div>
                                <img src="./assets/images/faces/4.jpg" alt="img"
                                    class="avatar avatar-md avatar-rounded border border-3 border-primarytint2color">
                            </div>
                        </div>
                    </div>
                </div>
             </swiper-slide>
             <swiper-slide>
                <div class="box mb-2 overflow-hidden">
                    <div class="box-body">
                        <p class="text-[1rem]">
                            <i class="ri-double-quotes-l text-[2.5rem] leading-none me-3"></i>The
                            network
                            administrator has ensured our systems run smoothly and
                            securely,Always quick to resolve any issues and keep our network
                            optimized."
                        </p>
                        <div class="flex justify-end text-end flex-wrap gap-4">
                            <div class="flex">
                                <div class="me-2 my-auto mb-0">
                                    <div class="mb-0 leading-none text-xs font-semibold">Georgia
                                        Kate
                                        <span class="text-[11px] font-normal ms-2"><i
                                                class="ri-star-fill text-warning text-[0.5625rem] mb-1 align-middle"></i>
                                            4.5</span>
                                    </div>
                                    <p class="text-xs mb-0 opacity-70">Systems Analyst</p>
                                </div>
                                <img src="./assets/images/faces/5.jpg" alt="img"
                                    class="avatar avatar-md avatar-rounded border border-3 border-primarytint2color">
                            </div>
                        </div>
                    </div>
                </div>
             </swiper-slide>
                </swiper-container>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-custom">
            </div>
        </div>
    </div>
</div>
<!-- End::row-3 -->