<!-- Start::row-1 -->
<div class="box">
    <div class="box-header justify-between">
        <div class="box-title">
            Novas Indicações
        </div>
        <div class="flex gap-4 items-center flex-wrap">
            <div class="ti-btn-group ti-dropdown hs-dropdown p-0 border-0">
                <!-- 
                    <a routerLink="/ks/oportunidades/incluir" class="ti-btn ti-btn-primary !m-0 btn-wave ti-btn-sm">
                        <i class="ri-add-line me-1 align-middle"></i>Adicionar
                    </a>
                    -->
                <a type="button" class="hs-dropdown-toggle ti-btn  btn-wave ti-btn-primary"
                    (click)="AdicionarModalOportunidade()" data-hs-overlay="#modal-add-oportunidade">
                    Nova Indicação
                </a>
            </div>

            <div class="ti-btn-group ti-dropdown hs-dropdown p-0 border-0">


                <button type="button" class="ti-btn ti-btn bg-primary text-white btn-wave waves-light"
                    data-hs-overlay="#gera-link" (click)="criarUrl()">
                    <i class="ri-add-line font-medium align-middle"></i> Gerar convite</button>

            </div>
            <div class="custom-form-group grow">
                <input type="text" class="form-control !pe-[7rem]" #inputFiltroNomeOportunidade
                    (keyup)="filtroNomeOportunidade(inputFiltroNomeOportunidade.value)" placeholder="Pesquisar por nome"
                    aria-describedby="button-addon2">
                <a aria-label="anchor" href="javascript:void(0);"
                    class="text-textmuted dark:text-textmuted/50 custom-form-btn"><i class="ti ti-search"></i></a>
            </div>
        </div>
    </div>
    <div class="box-body p-0">
        <div class="table-responsive">
            <spk-reusable-tables [columns]="ordersColumn" [showCheckbox]="true" checkboxClass="text-center"
                tableClass="ti-custom-table ti-custom-table-hover text-nowrap">
                <tr class="order-list border-b !border-defaultborder dark:!border-defaultborder/10"
                    *ngFor="let oportunidade of resultset?.registros">

                    <td>

                    <td>{{oportunidade.id}}</td>
                    <td>{{oportunidade.nome}}</td>
                    <td>{{oportunidade.email}}</td>
                    <td><span class="badge" [ngClass]="{
                                                        'bg-primary text-white':oportunidade.status == 'EM ANALISE',
                                                        'bg-secondary text-white':oportunidade.status == 'OPORTUNIDADE ABERTA',
                                                        'bg-warning text-white':oportunidade.status == 'PROCESSANDO',
                                                        'bg-info text-white':oportunidade.status == 'PROPOSTA ENVIADA',
                                                        
                                                        'bg-success text-white':oportunidade.status == 'AGUARDANDO ASSINATURA 1/2',
                                                        'bg-danger text-white':oportunidade.status == 'AGUARDANDO ASSINATURA 2/2',
                                                        ' text-white':oportunidade.status == 'REJEITADA',
                                                        }">{{oportunidade.status}}</span></td>
                    <td>
                        <button type="button" (click)="abrirModalEdicao(oportunidade)"
                            data-hs-overlay="#modal-edit-oportunidade"
                            class="ti-btn ti-btn-icon ti-btn-sm ti-btn-soft-info btn-wave waves-effect waves-light"><i
                                class="ri-edit-line"></i></button>
                        <a href="javascript:void(0);" (click)="visualizarOportunidade(oportunidade)"
                            class="ti-btn ti-btn-icon ti-btn-sm ti-btn-soft-success btn-wave waves-effect waves-light">
                            <i class="ri-eye-line"></i>
                        </a>
                    
          

                    </td>
                </tr>
            </spk-reusable-tables>
        </div>
        <div class="box-footer">
            <div class="flex items-center flex-wrap overflow-auto">

                <div class="ms-auto my-2">
                    <div class="flex items-center flex-wrap overflow-auto">
                        <app-paginador [length]="getTotalRegistro()" [pageIndex]="pagina"
                            (page)="onPageChange($event)"></app-paginador>
                    </div>
                </div>

            </div>
        </div>


        <div id="gera-link" class="hs-overlay hidden ti-modal">
            <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out min-h-[calc(100%-3.5rem)] flex items-center">
                <div class="ti-modal-content w-full">
                    <div class="ti-modal-body">
                        <form [formGroup]="emailForm" novalidate name="emailForm">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Link temporario
                                    </div>
                                </div>
                                <div class="box-body">


                                    <div class="flex items-center flex-wrap justify-between gap-4 mb-3">
                                        <div class="flex-auto">
                                            <label for="{{ 123 }}-wallet-address1" class="form-label">Link
                                                temporario</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control !border-s"
                                                    [id]=" + '-wallet-address'" value="{{urlCompleta}}"
                                                    placeholder="Placeholder">
                                                <button class="ti-btn ti-btn-primary !m-0">Copiar</button>
                                            </div>
                                        </div>
                                        <div>
                                            <span
                                                class="avatar avatar-xxl border border-defaultborder dark:border-defaultborder/10">

                                                <qrcode [qrdata]="'{{url}}'" class="p-1 qr-image" [width]="125"
                                                    [errorCorrectionLevel]="'M'">
                                                </qrcode>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="box-footer text-center grid">
                                        <label for="task-id" class="form-label">Email do cliente</label>
                                        <input type="email" class="form-control !" id="task-id"
                                            placeholder="Email do cliente" formControlName="email" required>
                                    </div>
                                </div>
                                <div class="box-footer text-center grid">
                                    <button type="submit"
                                        class="ti-btn ti-btn-primary !m-0 btn-w-lg btn-wave waves-effect waves-light" (click)="enviarLinkEmail()"
                                        >Enviar
                                        email</button>
                                    <!-- 
                                            <button type="button" data-hs-overlay="#gera-link" class="ti-btn ti-btn-secondary !m-0 btn-w-lg btn-wave waves-effect waves-light"> Fechar</button>
                                        -->

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <app-incluir-oportunidade (fecharModalNovaOportunidade)="carregarDadosFecharModal()"></app-incluir-oportunidade>
        <app-editar-oportunidade [setarOportunidadeEditarModal]="oportunidadeEditarModal"
            (fecharModalOportunidade)="carregarDadosFecharModal()"></app-editar-oportunidade>


