<app-page-header [title]="'Invoice'" [title1]="['Invoice list']" [activeitem]="'Invoice list'"></app-page-header>
 
 <!-- Start::row-1 -->
 <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-12 col-span-12">
        <div class="grid grid-cols-12 gap-x-6">
            <div class="xxl:col-span-7 col-span-12">
                <div class="box">
                    <div class="box-header">
                        <div class="box-title">
                            Invoice Statistics
                        </div>
                    </div>
                    <div class="box-body p-0">
                        <div id="invoice-list-stats">
                            <spk-apexcharts [chartOptions]="chartOptions"></spk-apexcharts>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="xxl:col-span-5 col-span-12">
                <div class="grid grid-cols-12 gap-x-6">
                    <div class="xxl:col-span-6 col-span-12">
                        <div class="box overflow-hidden main-content-card">
                            <div class="box-body p-4">
                                <div class="flex items-start gap-4">
                                    <div class="flex-auto">
                                        <h6 class="mb-2 text-xs">Total Amount</h6> 
                                        <div class="pb-0 mt-0"> 
                                            <div> 
                                                <h4 class="font-medium mb-1">$<span class="count-up" [countUp]="386" data-count="385">385</span>k </h4> 
                                                <span class="badge bg-primary">12,895</span>
                                                <div class="text-textmuted dark:text-textmuted/50 text-[13px] mt-2">Increased By <span class="text-success">2.13%<i class="ti ti-arrow-narrow-up text-[1rem]"></i></span></div>
                                            </div> 
                                        </div> 
                                    </div>
                                    <div class="main-card-icon primary border-[3px] border-primary/50 !rounded-full">
                                        <div class="avatar avatar-md bg-primary border border-primary/10 avatar-rounded">
                                            <div class="avatar avatar-sm">
                                                <svg  class="!fill-white !stroke-primary" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(var(--primary-rgb))" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2m4 -14h6m-6 4h6m-2 4h2" />
                                                  </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xxl:col-span-6 col-span-12">
                        <div class="box overflow-hidden main-content-card">
                            <div class="box-body p-4">
                                <div class="flex items-start gap-4">
                                    <div class="flex-auto">
                                        <h6 class="mb-2 text-xs">Total Paid</h6> 
                                        <div> 
                                            <h4 class="font-medium mb-1">$<span class="count-up" [countUp]="126" data-count="126">126</span>k</h4> 
                                            <span class="badge bg-primarytint1color">3,457</span>
                                            <div class="text-textmuted dark:text-textmuted/50 text-[13px] mt-2">Decreased By <span class="text-danger">1.05%<i class="ti ti-arrow-narrow-down text-[1rem]"></i></span></div>
                                        </div> 
                                    </div>
                                    <div class="main-card-icon primary1 border-[3px] border-primarytint1color/50 !rounded-full">
                                        <div class="avatar avatar-md bg-primarytint1color border border-primarytint1color/10 avatar-rounded">
                                            <div class="avatar avatar-sm">
                                                <svg class="!fill-white !stroke-primarytint1color icon icon-tabler icon-tabler-discount-check" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--primary-tint1-color)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M5 7.2a2.2 2.2 0 0 1 2.2 -2.2h1a2.2 2.2 0 0 0 1.55 -.64l.7 -.7a2.2 2.2 0 0 1 3.12 0l.7 .7c.412 .41 .97 .64 1.55 .64h1a2.2 2.2 0 0 1 2.2 2.2v1c0 .58 .23 1.138 .64 1.55l.7 .7a2.2 2.2 0 0 1 0 3.12l-.7 .7a2.2 2.2 0 0 0 -.64 1.55v1a2.2 2.2 0 0 1 -2.2 2.2h-1a2.2 2.2 0 0 0 -1.55 .64l-.7 .7a2.2 2.2 0 0 1 -3.12 0l-.7 -.7a2.2 2.2 0 0 0 -1.55 -.64h-1a2.2 2.2 0 0 1 -2.2 -2.2v-1a2.2 2.2 0 0 0 -.64 -1.55l-.7 -.7a2.2 2.2 0 0 1 0 -3.12l.7 -.7a2.2 2.2 0 0 0 .64 -1.55v-1" />
                                                    <path d="M9 12l2 2l4 -4" />
                                                  </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="xxl:col-span-6 col-span-12">
                        <div class="box overflow-hidden main-content-card">
                            <div class="box-body p-4">
                                <div class="flex items-start gap-4">
                                    <div class="flex-auto">
                                        <h6 class="mb-2 text-xs">Pending Invoices</h6> 
                                        <div> 
                                            <h4 class="font-medium mb-1"><span class="count-up" [countUp]="56" data-count="56">56</span></h4> 
                                            <span class="badge bg-success">5,447</span>
                                            <div class="text-textmuted dark:text-textmuted/50 text-[13px] mt-2">Decreased By <span class="text-danger">2.06%<i class="ti ti-arrow-narrow-down text-[1rem]"></i></span></div>
                                        </div> 
                                    </div>
                                    <div class="main-card-icon primarytint2color  border-[3px] border-primarytint2color/50 !rounded-full">
                                        <div class="avatar avatar-md bg-primarytint2color border border-primarytint2color/10 avatar-rounded">
                                            <div class="avatar avatar-sm ">
                                                <svg class="!fill-white !stroke-primarytint2color icon icon-tabler icon-tabler-help-octagon" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--primary-tint2-color)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M12.802 2.165l5.575 2.389c.48 .206 .863 .589 1.07 1.07l2.388 5.574c.22 .512 .22 1.092 0 1.604l-2.389 5.575c-.206 .48 -.589 .863 -1.07 1.07l-5.574 2.388c-.512 .22 -1.092 .22 -1.604 0l-5.575 -2.389a2.036 2.036 0 0 1 -1.07 -1.07l-2.388 -5.574a2.036 2.036 0 0 1 0 -1.604l2.389 -5.575c.206 -.48 .589 -.863 1.07 -1.07l5.574 -2.388a2.036 2.036 0 0 1 1.604 0z" />
                                                    <path d="M12 16v.01" />
                                                    <path d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483" />
                                                  </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    <div class="xxl:col-span-6 col-span-12">
                        <div class="box overflow-hidden main-content-card">
                            <div class="box-body p-4">
                                <div class="flex items-start gap-4">
                                    <div class="flex-auto">
                                        <h6 class="mb-2 text-xs">Overdue Invoices</h6> 
                                        <div> 
                                            <h4 class="font-medium mb-1"><span class="count-up" [countUp]="47" data-count="47">47</span>K</h4> 
                                            <span class="badge bg-primarytint3color">2,145</span>
                                            <div class="text-textmuted dark:text-textmuted/50 text-[13px] mt-2">Increased By <span class="text-success">1.3%<i class="ti ti-arrow-narrow-up text-[1rem]"></i></span></div>
                                        </div> 
                                    </div>
                                    <div class="main-card-icon primarytint3color  border-[3px] border-primarytint3color/50 !rounded-full">
                                        <div class="avatar avatar-md bg-primarytint3color border border-primarytint3color/10 avatar-rounded">
                                            <div class="avatar avatar-sm">
                                                <svg class="!fill-white !stroke-primarytint3color icon icon-tabler icon-tabler-hourglass" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--primary-tint3-color)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M6.5 7h11" />
                                                    <path d="M6.5 17h11" />
                                                    <path d="M6 20v-2a6 6 0 1 1 12 0v2a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1z" />
                                                    <path d="M6 4v2a6 6 0 1 0 12 0v-2a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1z" />
                                                  </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-12 col-span-12">
        <div class="box">
            <div class="box-header justify-between">
                <div class="box-title">
                    Manage Invoices
                </div>
                <div class="flex">
                    <a routerLink="/pages/invoice/create-invoice" class="ti-btn ti-btn-sm ti-btn-primary btn-wave waves-light"><i class="ri-add-line font-medium align-middle me-1"></i> Create Invoice</a>
                    <spk-dropdowns [Customclass]="'dropdown ms-2'"  [class]="'ti-btn ti-btn-icon ti-btn-soft-secondary ti-btn-sm btn-wave waves-light'" [Icon]="true" [IconClass]="'ti ti-dots-vertical'" 
                    [Menuclass]="'dropdown-menu'"  >
                            <li><a class="ti-dropdown-item" href="javascript:void(0);">All Invoices</a></li>
                            <li><a class="ti-dropdown-item" href="javascript:void(0);">Paid Invoices</a></li>
                            <li><a class="ti-dropdown-item" href="javascript:void(0);">Pending Invoices</a></li>
                            <li><a class="ti-dropdown-item" href="javascript:void(0);">Overdue Invoices</a></li>
                    </spk-dropdowns>
                </div>
            </div>
            <div class="box-body p-0">
                <div class="table-responsive">
                    <spk-reusable-tables  [columns]="invoiceColumn" tableClass="ti-custom-table ti-custom-table-head"
                    [showCheckbox]="false" > 
                    @for (invoice of invoices; track invoice) {
                        
                            <tr class="invoice-list border-b !border-defaultborder dark:!border-defaultborder/10">
                                <td>
                                    <div class="flex items-center">
                                        <div class="me-2 leading-none">
                                            <span class="avatar avatar-sm avatar-rounded">
                                                <img [src]="invoice.img" alt="">
                                            </span>
                                        </div>
                                        <div>
                                            <p class="mb-0 font-medium">{{invoice.Name}}</p>
                                            <p class="mb-0 text-[11px] text-textmuted dark:text-textmuted/50">{{invoice.Mail}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="font-medium text-primary">
                                        {{invoice.Id}}
                                    </a>
                                </td>
                                <td>
                                    {{invoice.IssuedDate}}
                                </td>
                                <td>
                                    {{invoice.Price}}
                                </td>
                                <td>
                                    <span class="badge bg-{{invoice.bg}}/10 text-{{invoice.text}}">{{invoice.Status}}</span>
                                </td>
                                <td>
                                    {{invoice.DueDate}}
                                </td>
                                <td>
                                    <button class="ti-btn ti-btn-soft-primary ti-btn-icon ti-btn-sm"><i class="ri-printer-line"></i></button>
                                    <button (click)="click(invoice.Price)" class="ti-btn ti-btn-soft-danger ti-btn-icon ms-1 ti-btn-sm invoice-btn"><i class="ri-delete-bin-5-line"></i></button>
                                </td>
                            </tr>
                        }
                        </spk-reusable-tables>
                </div>
            </div>
            <div class="box-footer">
                <nav aria-label="..." class="me-4">
                    <ul class="ti-pagination sm:justify-end justify-center sm:ms-0 ms-3">
                        <li class="page-item opacity-80 pointer-events-none">
                            <a class="page-link px-3 py-[0.375rem] !text-[1rem] disabled">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link px-3 py-[0.375rem] !text-[1rem]"
                                href="javascript:void(0);">1</a></li>
                        <li class="page-item " aria-current="page">
                            <a class="page-link active px-3 py-[0.375rem] !text-[1rem]"
                                href="javascript:void(0);">2</a>
                        </li>
                        <li class="page-item"><a class="page-link px-3 py-[0.375rem] !text-[1rem]"
                            href="javascript:void(0);">3</a></li>
                        <li class="page-item">
                            <a class="page-link px-3 py-[0.375rem] !text-[1rem]" href="javascript:void(0);">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->