
<app-page-header [title]="'Apex Charts'" [title1]="['Apex Bubble Charts']" [activeitem]="'Apex Bubble Charts'"></app-page-header>
<!-- Start::row-1 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Simple Bubble Chart</div>
            </div>
            <div class="box-body">
                <div id="bubble-simple">
                    <spk-apexcharts [chartOptions]="chartOptions"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">3D Bubble Chart</div>
            </div>
            <div class="box-body">
                <div id="bubble-3d">
                    <spk-apexcharts [chartOptions]="chartOptions1"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->