
<app-page-header [title]="'Form Elements'" [title1]="['Checks & Radios']" [activeitem]="'Checks & Radios'"></app-page-header>
<!-- Start:: row-1 -->
 <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Radios'" [prism]="prismCode.radio1">
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Default radio
                    </label>
                </div>
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault2" checked="">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Default checked radio
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Disabled'" [prism]="prismCode.radio2">
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="radio" name="flexRadioDisabled"
                        id="flexRadioDisabled" disabled="">
                    <label class="form-check-label" for="flexRadioDisabled">
                        Disabled radio
                    </label>
                </div>
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input opacity-[0.6]" type="radio" name="flexRadioDisabled"
                        id="flexRadioCheckedDisabled" checked="" disabled="">
                    <label class="form-check-label" for="flexRadioCheckedDisabled">
                        Disabled checked radio
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Radio Sizes'" classbody="sm:flex items-center justify-between"  [prism]="prismCode.radio8">
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="radio" name="Radio" id="Radio-sm">
                    <label class="form-check-label" for="Radio-sm">
                        default
                    </label>
                </div>  
                <div class="form-check flex items-center gap-2 form-check-md">
                    <input class="form-check-input" type="radio" name="Radio" id="Radio-md">
                    <label class="form-check-label" for="Radio-md">
                        Medium
                    </label>
                </div>
                <div class="form-check flex items-center gap-2 form-check-lg">
                    <input class="form-check-input" type="radio" name="Radio" id="Radio-lg" checked="">
                    <label class="form-check-label" for="Radio-lg">
                        Large
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Checks'" [prism]="prismCode.radio1">
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                    </label>
                </div>
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                        checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Checked checkbox
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Disabled'" [prism]="prismCode.radio2">
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled"
                        disabled="">
                    <label class="form-check-label" for="flexCheckDisabled">
                        Disabled checkbox
                    </label>
                </div>
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input opacity-[0.6]" type="checkbox" value=""
                        id="flexCheckCheckedDisabled" checked="" disabled="">
                    <label class="form-check-label" for="flexCheckCheckedDisabled">
                        Disabled checked checkbox
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Checkbox Sizes'" classbody="sm:flex items-center justify-between"   [prism]="prismCode.radio7">
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="checkebox-sm" checked="">
                    <label class="form-check-label" for="checkebox-sm">
                        Default
                    </label>
                </div>
                <div class="form-check  form-check-md flex items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="checkebox-md" checked="">
                    <label class="form-check-label" for="checkebox-md">
                        Medium
                    </label>
                </div>
                <div class="form-check form-check-lg flex items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="checkebox-lg" checked="">
                    <label class="form-check-label" for="checkebox-lg">
                        Large
                    </label>
                </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
 <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 lg:col-span-6 md:col-span-12 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="' Default (stacked)'" [prism]="prismCode.radio5">
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Default checkbox
                    </label>
                </div>
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2"
                        disabled="">
                    <label class="form-check-label" for="defaultCheck2">
                        Disabled checkbox
                    </label>
                </div>
                <div class="form-check flex items-center gap-2">
                    <input class="form-check-input" type="radio" name="exampleRadios"
                        id="exampleRadios1" value="option1" checked="">
                    <label class="form-check-label" for="exampleRadios1">
                        Default radio
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="radio" name="exampleRadios"
                        id="exampleRadios3" value="option3" disabled="">
                    <label class="form-check-label" for="exampleRadios3">
                        Disabled radio
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="xl:col-span-6 lg:col-span-6 md:col-span-12 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Switches'" [classbody]="'flex flex-col gap-y-4'" [prism]="prismCode.radio6">
                  <div class="flex items-center">
                    <input type="checkbox" id="hs-basic-with-description-checked" class="ti-switch" checked>
                    <label for="hs-basic-with-description-checked" class="text-sm text-gray-500 ltr:ml-3 rtl:mr-3 dark:text-white/70">Checked</label>
                  </div>
                  <div class="flex items-center">
                    <input type="checkbox" id="hs-basic-with-description-unchecked" class="ti-switch">
                    <label for="hs-basic-with-description-unchecked" class="text-sm text-gray-500 ltr:ml-3 rtl:mr-3 dark:text-white/70">Unchecked</label>
                  </div>
                  <div class="flex items-center">
                    <label class="text-sm text-gray-500 ltr:mr-3 rtl:ml-3 dark:text-white/70">On</label>
                    <input type="checkbox" id="hs-basic-with-description" class="ti-switch">
                    <label class="text-sm text-gray-500 ltr:ml-3 rtl:mr-3 dark:text-white/70">Off</label>
                  </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
 <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Inline'"  [prism]="prismCode.radio9">
                <div class="flex gap-4"> 
                    <div class="form-check form-check-inline flex items-center">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                            value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">1</label>
                    </div>
                    <div class="form-check form-check-inline flex items-center">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                            value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">2</label>
                    </div>
                    <div class="form-check form-check-inline flex items-center">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3"
                            value="option3" disabled>
                        <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                    </div>
               </div>
               <div class="flex gap-4">
                <div class="form-check form-check-inline flex items-center">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                        id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline flex items-center">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                        id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline flex items-center">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                        id="inlineRadio3" value="option3" disabled>
                    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                </div>
            </div>
        </app-showcode-card>
    </div>
    <div class="xl:col-span-6  lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Reverse'"  [prism]="prismCode.radio10">
                <div class="form-check form-check-reverse mb-4">
                    <input class="form-check-input" type="checkbox" value=""
                        id="reverseCheck1">
                    <label class="form-check-label" for="reverseCheck1">
                        Reverse checkbox
                    </label>
                </div>
                <div class="form-check form-check-reverse mb-4">
                    <input class="form-check-input" type="checkbox" value=""
                        id="reverseCheck2" disabled="">
                    <label class="form-check-label" for="reverseCheck2">
                        Disabled reverse checkbox
                    </label>
                </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-3 -->

   <!-- Start:: row-4 -->
   <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6  lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Toggle Switch-1 Sizes'" [prism]="prismCode.radio11">
                <div class="flex items-center flex-wrap mb-4">
                    <div class=""> <p class="text-muted m-0">Small size toggle switch <code>toggle-sm</code></p></div>
                    <div appToggleBtn class="toggle toggle-sm on mb-0">
                        <span></span>
                    </div>
                </div>
                <div class="flex items-center flex-wrap mb-4">
                    <div class=""> <p class="text-muted m-0">Default toggle switch <code></code></p></div>
                    <div appToggleBtn class="toggle toggle-secondary on mb-0">
                        <span></span>
                    </div>
                </div>
                <div class="flex items-center flex-wrap">
                    <div class=""> <p class="text-muted m-0">Large size toggle switch <code>toggle-lg</code></p></div>
                    <div appToggleBtn class="toggle toggle-lg toggle-success on mb-0">
                        <span></span>
                    </div>
                </div>
        </app-showcode-card>
    </div>
    <div class="xl:col-span-6  lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12 ">
        <app-showcode-card [title]="'Toggle Switch-2 Sizes'" [prism]="prismCode.radio12">
                <div class="flex items-center flex-wrap mb-4">
                    <div class=""><p class="text-muted m-0">Small size toggle switch <code>toggle-sm</code></p></div>
                    <div class="custom-toggle-switch toggle-sm ms-2">
                        <input id="size-sm" name="toggleswitchsize" type="checkbox" checked="">
                        <label for="size-sm" class="label-primary sm:flex block sm:mt-0 mt-3"></label>
                    </div>
                </div>
                <div class="flex items-center flex-wrap mb-4">
                    <div class=""><p class="text-muted m-0">Default toggle switch</p></div>
                    <div class="custom-toggle-switch toggle-md ms-2">
                        <input id="size-default" name="toggleswitchsize" type="checkbox" checked="">
                        <label for="size-default" class="label-secondary mb-1 sm:flex block sm:mt-0 mt-3"></label>
                    </div>
                </div>
                <div class="flex items-center flex-wrap mb-4">
                    <div class=""><p class="text-muted m-0">Large size toggle switch <code>toggle-lg</code></p></div>
                    <div class="custom-toggle-switch toggle-lg ms-2 mb-3">
                        <input id="size-lg" name="toggleswitchsize" type="checkbox" checked="">
                        <label for="size-lg" class="label-success sm:flex block sm:mt-0 mt-3"></label>
                    </div>
                </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-4 -->

<!-- Start:: row-5 -->

<div class="grid xxl:grid-cols-5 xl:grid-cols-3 grid-cols-1 gap-x-6">
    <div class="col-auto">
        <app-showcode-card [title]="'Colored Checkboxes'" [prism]="prismCode.radio13">
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="primaryChecked" checked="">
                    <label class="form-check-label" for="primaryChecked">
                        Primary
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-secondary" type="checkbox" value="" id="secondaryChecked" checked="">
                    <label class="form-check-label" for="secondaryChecked">
                        Secondary
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-warning" type="checkbox" value="" id="warningChecked" checked="">
                    <label class="form-check-label" for="warningChecked">
                        Warning
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-info" type="checkbox" value="" id="infoChecked" checked="">
                    <label class="form-check-label" for="infoChecked">
                        Info
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-success" type="checkbox" value="" id="successChecked" checked="">
                    <label class="form-check-label" for="successChecked">
                        Success
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-danger" type="checkbox" value="" id="dangerChecked" checked="">
                    <label class="form-check-label" for="dangerChecked">
                        Danger
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input form-checked-dark  dark:checked:!bg-white/50" type="checkbox" value="" id="darkChecked" checked="">
                    <label class="form-check-label" for="darkChecked">
                        Dark
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="col-auto">
        <app-showcode-card [title]="'Outline Checkboxes'" [prism]="prismCode.radio14">
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline" type="checkbox" value="" id="primaryoutlineChecked" checked>
                    <label class="form-check-label" for="primaryoutlineChecked">
                        Primary
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-secondary" type="checkbox" value="" id="secondaryoutlineChecked" checked="">
                    <label class="form-check-label" for="secondaryoutlineChecked">
                        Secondary
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-warning" type="checkbox" value="" id="warningoutlineChecked" checked="">
                    <label class="form-check-label" for="warningoutlineChecked">
                        Warning
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-info" type="checkbox" value="" id="infooutlineChecked" checked="">
                    <label class="form-check-label" for="infooutlineChecked">
                        Info
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-success" type="checkbox" value="" id="successoutlineChecked" checked="">
                    <label class="form-check-label" for="successoutlineChecked">
                        Success
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-danger" type="checkbox" value="" id="dangeroutlineChecked" checked="">
                    <label class="form-check-label" for="dangeroutlineChecked">
                        Danger
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input form-checked-outline form-checked-dark" type="checkbox" value="" id="darkoutlineChecked" checked="">
                    <label class="form-check-label" for="darkoutlineChecked">
                        Dark
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="col-auto">
        <app-showcode-card [title]="'Colored Radios'" [prism]="prismCode.radio15">
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="primaryRadio" id="primaryRadio" checked="">
                    <label class="form-check-label" for="primaryRadio">
                        Primary
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-secondary" type="radio" name="secondaryRadio" id="secondaryRadio" checked="">
                    <label class="form-check-label" for="secondaryRadio">
                        Secondary
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-warning" type="radio" name="warningRadio" id="warningRadio" checked="">
                    <label class="form-check-label" for="warningRadio">
                        Warning
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-info" type="radio" name="InfoRadio" id="InfoRadio" checked="">
                    <label class="form-check-label" for="InfoRadio">
                        Info
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-success" type="radio" name="successRadio" id="successRadio" checked="">
                    <label class="form-check-label" for="successRadio">
                        Success
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-danger" type="radio" name="dangerRadio" id="dangerRadio" checked="">
                    <label class="form-check-label" for="dangerRadio">
                        Danger
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input form-checked-dark dark:checked:!bg-white/50" type="radio" name="darkRadio" id="darkRadio" checked="">
                    <label class="form-check-label" for="darkRadio">
                        Dark
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="col-auto">
        <app-showcode-card [title]="'Outline Radios'" [prism]="prismCode.radio16">
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline" type="radio" name="primaryoutlineRadio" id="primaryoutlineRadio" checked="">
                    <label class="form-check-label" for="primaryoutlineRadio">
                        Primary
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-secondary" type="radio" name="secondaryoutlineRadio" id="secondaryoutlineRadio" checked="">
                    <label class="form-check-label" for="secondaryoutlineRadio">
                        Secondary
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-warning" type="radio" name="warningoutlineRadio" id="warningoutlineRadio" checked="">
                    <label class="form-check-label" for="warningoutlineRadio">
                        Warning
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-info" type="radio" name="InfooutlineRadio" id="InfooutlineRadio" checked="">
                    <label class="form-check-label" for="InfooutlineRadio">
                        Info
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-success" type="radio" name="successoutlineRadio" id="successoutlineRadio" checked="">
                    <label class="form-check-label" for="successoutlineRadio">
                        Success
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input form-checked-outline form-checked-danger" type="radio" name="dangeroutlineRadio" id="dangeroutlineRadio" checked="">
                    <label class="form-check-label" for="dangeroutlineRadio">
                        Danger
                    </label>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input form-checked-outline form-checked-dark" type="radio" name="darkoutlineRadio" id="darkoutlineRadio" checked="">
                    <label class="form-check-label" for="darkoutlineRadio">
                        Dark
                    </label>
                </div>
        </app-showcode-card>
    </div>
    <div class="col-auto">
        <app-showcode-card [title]="'Switches Colors'" [prism]="prismCode.radio17">
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" id="hs-xs-solid-switch1" class="ti-switch ti-switch-custom" checked>
                    <label class="form-check-label" for="hs-xs-solid-switch1">Primary</label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" id="hs-xs-solid-switch2" class="ti-switch ti-switch-custom secondary" checked>
                    <label class="form-check-label" for="hs-xs-solid-switch2">Secondary</label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" id="hs-xs-solid-switch3" class="ti-switch ti-switch-custom warning" checked>
                    <label class="form-check-label" for="hs-xs-solid-switch3">Warning</label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" id="hs-xs-solid-switch4" class="ti-switch ti-switch-custom info" checked>
                    <label class="form-check-label" for="hs-xs-solid-switch4">Info</label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" id="hs-xs-solid-switch5" class="ti-switch ti-switch-custom success" checked>
                    <label class="form-check-label" for="hs-xs-solid-switch5">Success</label>
                </div>
                <div class="form-check form-switch mb-2">
                    <input type="checkbox" id="hs-xs-solid-switch6" class="ti-switch ti-switch-custom danger" checked>
                    <label class="form-check-label" for="hs-xs-solid-switch6">Danger</label>
                </div>
                <div class="form-check form-switch mb-0">
                    <input type="checkbox" id="hs-xs-solid-switch7" class="ti-switch ti-switch-custom dark " checked>
                    <label class="form-check-label" for="hs-xs-solid-switch7">Dark</label>
                </div>
        </app-showcode-card>
    </div>
</div>

<!-- End:: row-5 -->


<!-- Start:: row-6 -->
 <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-12  lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="'Toggle Switches Style-1'" [prism]="prismCode.radio18">
                <div class="grid grid-cols-12 gap-y-1">
                    <div class="xl:col-span-4 col-span-12">
                        <div appToggleBtn class="toggle on mb-4">
                            <span></span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div appToggleBtn class="toggle toggle-secondary on mb-4">
                            <span></span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div appToggleBtn class="toggle toggle-warning on mb-4">
                            <span></span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div appToggleBtn class="toggle toggle-info on mb-4">
                            <span></span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div appToggleBtn class="toggle toggle-success on mb-4">
                            <span></span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div appToggleBtn class="toggle toggle-danger on mb-4">
                            <span></span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div appToggleBtn class="toggle toggle-light on mb-4">
                            <span></span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div appToggleBtn class="toggle toggle-dark on mb-4">
                            <span></span>
                        </div>
                    </div>
                </div>
        </app-showcode-card>
    </div>
    <div class="xl:col-span-12  lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
        <app-showcode-card [title]="' Toggle Switches Style-2'" [prism]="prismCode.radio19">
                <div class="grid grid-cols-12 gap-y-1">
                    <div class="xl:col-span-4 col-span-12">
                        <div class="custom-toggle-switch flex items-center mb-4">
                            <input id="toggleswitchPrimary" name="toggleswitch001" type="checkbox" checked="">
                            <label for="toggleswitchPrimary" class="label-primary"></label><span class="ms-3">Primary</span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div class="custom-toggle-switch flex items-center mb-4">
                            <input id="toggleswitchSecondary" name="toggleswitch001" type="checkbox" checked="">
                            <label for="toggleswitchSecondary" class="label-secondary"></label><span class="ms-3">Secondary</span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div class="custom-toggle-switch flex items-center mb-4">
                            <input id="toggleswitchWarning" name="toggleswitch001" type="checkbox" checked="">
                            <label for="toggleswitchWarning" class="label-warning"></label><span class="ms-3">Warning</span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div class="custom-toggle-switch flex items-center mb-4">
                            <input id="toggleswitchInfo" name="toggleswitch001" type="checkbox" checked="">
                            <label for="toggleswitchInfo" class="label-info"></label><span class="ms-3">Info</span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div class="custom-toggle-switch flex items-center mb-4">
                            <input id="toggleswitchSuccess" name="toggleswitch001" type="checkbox" checked="">
                            <label for="toggleswitchSuccess" class="label-success"></label><span class="ms-3">Success</span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div class="custom-toggle-switch flex items-center mb-4">
                            <input id="toggleswitchDanger" name="toggleswitch001" type="checkbox" checked="">
                            <label for="toggleswitchDanger" class="label-danger"></label><span class="ms-3">Danger</span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div class="custom-toggle-switch flex items-center mb-4">
                            <input id="toggleswitchLight" name="toggleswitch001" type="checkbox" checked="">
                            <label for="toggleswitchLight" class="label-light"></label><span class="ms-3">Light</span>
                        </div>
                    </div>
                    <div class="xl:col-span-4 col-span-12">
                        <div class="custom-toggle-switch flex items-center mb-4">
                            <input id="toggleswitchDark" name="toggleswitch001" type="checkbox" checked="">
                            <label for="toggleswitchDark" class="label-dark"></label><span class="ms-3">Dark</span>
                        </div>
                    </div>
                </div>
        </app-showcode-card>
    </div>
</div>
<!-- End:: row-6 -->