<app-page-header [title]="'Projects'" [title1]="['Project List']" [activeitem]="'Project List'"></app-page-header>
 
 <!-- Start::row-1 -->
  <div class="row">
    <div class="col-xl-12">
        <div class="box">
            <div class="box-body p-4">
                <div class="flex items-center justify-between flex-wrap gap-4">
                    <div class="flex flex-wrap gap-1 project-list-main">
                        <a [routerLink]="['/apps/projects/create-project']" class="ti-btn bg-primary text-white !me-2 !m-0"><i class="ri-add-line me-1 font-medium align-middle"></i>New Project</a>
                        <spk-ng-select 
                        [options]="Project"
                        [id]="'choices-single-default '"
                        [selectClass]="'creative-nft-select project-select'"
                        [clearable]="true"
                        [searchable]="true"
                        [hideSelected]="true"
                        [placeholder]="'Sort By'"
                        [additionalProperties]="{}">
                        </spk-ng-select>
                    </div>
                    <div class="avatar-list-stacked">
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/1.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/2.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/8.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/12.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/10.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/4.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/5.jpg" alt="img">
                        </span>
                        <span class="avatar avatar-sm avatar-rounded">
                            <img src="./assets/images/faces/13.jpg" alt="img">
                        </span>
                        <a class="avatar avatar-sm bg-primary avatar-rounded text-white" href="javascript:void(0);">
                            +8
                        </a>
                    </div>
                    <div class="flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search Project" aria-label="Search">
                        <button class="ti-btn bg-light !m-0" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-1 -->

<!-- Start::row-2 -->

<div class="row">
    <div class="col-xl-12">
        <div class="box overflow-hidden">
            <div class="box-body p-0">
                <div class="table-responsive">
                    <spk-reusable-tables  [columns]="projectColumn" tableClass="ti-custom-table text-nowrap"
                    [showCheckbox]="false"  >
                    @for(project of projectList;track $index){
                            <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                                <td>
                                    <div class="flex items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-rounded p-1 bg-info/10">
                                                <img [src]="project.src"  alt="">
                                            </span>
                                        </div>
                                        <div class="flex-auto">
                                            <a href="javascript:void(0);" class="font-medium text-[14px] block truncate project-list-title">{{project.title}}</a>
                                            <span class="text-textmuted dark:text-textmuted/50 block text-xs">{{project.subtext}} <span class="font-medium text-defaulttextcolor dark:text-defaulttextcolor/80">{{project.percent}}</span> {{project.subtext1}}</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-textmuted dark:text-textmuted/50 mb-0 project-list-description">{{project.description}}</p>
                                </td>
                                <td>
                                    <div class="avatar-list-stacked">
                                        @for(image of project.images;track $index){
                                        <span class="avatar avatar-sm avatar-rounded">
                                            <img [src]="image" alt="img">
                                        </span>
                                    }
                                        <a class="avatar avatar-sm bg-primary avatar-rounded text-white" href="javascript:void(0);">
                                            +{{project.count}}
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    {{project.assigneddate}}
                                </td>
                                <td>
                                    {{project.duedate}} 
                                </td>
                                <td>
                                    <div>
                                        <div class="progress progress-xs progress-animate" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar bg-primary" [style.width]="project.progress +'%'" style="width: 65%"></div>
                                        </div>
                                        <div class="mt-1"><span class="text-primary font-medium">{{project.progress}}%</span> Completed</div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-{{project.bg}}/10 text-{{project.bg}}">{{project.status}}</span>
                                </td>
                                <td>
                                        <spk-dropdowns [Customclass]="'dropdown'" [class]="'ti-btn ti-btn-icon ti-btn-sm bg-light'"  [Icon]="true" [IconClass]="'fe fe-more-vertical'"
                                        [Menuclass]="'dropdown-menu'"  >
                                            <li><a class="ti-dropdown-item" href="javascript:void(0);"><i class="ri-eye-line align-middle me-1 inline-block"></i>View</a></li>
                                            <li><a class="ti-dropdown-item" href="javascript:void(0);"><i class="ri-edit-line align-middle me-1 inline-block"></i>Edit</a></li>
                                            <li><a class="ti-dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-line me-1 align-middle inline-block"></i>Delete</a></li>
                                        </spk-dropdowns>
                                </td>
                            </tr>
                        }
                    </spk-reusable-tables>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-2 -->
<nav aria-label="Page navigation" class="mb-4">
    <ul class="ti-pagination justify-end">
        <li class="page-item disabled">
            <a class="page-link !bg-white dark:!bg-bodybg px-3 py-[0.375rem] !border-e-0">Previous</a>
        </li>
        <li class="page-item"><a class="page-link !bg-white dark:!bg-bodybg px-3 py-[0.375rem] !border-e-0"
                href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link !bg-white dark:!bg-bodybg px-3 py-[0.375rem] !border-e-0"
                href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link !bg-white dark:!bg-bodybg px-3 py-[0.375rem] !border-e-0"
                href="javascript:void(0);">3</a></li>
        <li class="page-item">
            <a class="page-link !bg-white dark:!bg-bodybg px-3 py-[0.375rem]" href="javascript:void(0);">Next</a>
        </li>
    </ul>
</nav>