 
 <app-page-header [title]="'Apex Charts'" [title1]="['Apex Candlestick Charts']" [activeitem]="'Apex Candlestick Charts'"></app-page-header>
 <!-- Start::row-1 -->
 <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Basic Candlestick Chart</div>
            </div>
            <div class="box-body">
                <div id="candlestick-basic">
                    <spk-apexcharts [chartOptions]="chartOptions"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Candlestick Synced With Brush Chart</div>
            </div>
            <div class="box-body">
                <spk-apexcharts #chartCandle [chartOptions]="chartCandleOptions1"></spk-apexcharts>
            </div>
            <div id="chart-bar">
                <spk-apexcharts #chartBar [chartOptions]="chartBarOptions"></spk-apexcharts>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Candlestick With Cateory X-axis</div>
            </div>
            <div class="box-body">
                <div id="candlestick-categoryx">
                    <spk-apexcharts [chartOptions]="chartOptions2"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Candlestick With Line Chart</div>
            </div>
            <div class="box-body">
                <div id="candlestick-line">
                    <spk-apexcharts [chartOptions]="chartOptions3"></spk-apexcharts>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->