<div class="grid grid-cols-12 gap-x-12">
    <div class="xxl:col-span-12 xl:col-span-12 col-span-12">
        <div class="box">
            <div class="box-header justify-between">
                <div class="box-title">
                    Incluir Oportunidade
                </div>
            </div>
            <div class="box-body">
                <form class="grid grid-cols-12  gap-x-3 gap-y-2 items-center mt-2" name="parceiroform"
                    [formGroup]="oportunidadeMovimentacaoform" novalidate>
                    
                    <div class="sm:col-span-3 col-span-12">
                        <label for="input-label" class="ti-form-label">Descrição</label>
                        <div class="input-group">
                            <div class="input-group-text">&#64;</div>
                            <input type="text" class="form-control" id="specificSizeInputGroupEmail"
                                placeholder="Descricao do movimento" formControlName="descricao">
                        </div>
                    </div>

                    <div class="sm:col-span-3 col-span-12">
                        <label  for="input-label" class="ti-form-label">Tipo</label>
                        <div class="input-group">
                            <div class="input-group-text">&#64;</div>
                            <input type="text" class="form-control" id="specificSizeInputGroupTelefone"
                                placeholder="tipo movimentacao" formControlName="tipo">
                        </div>
                    </div>
                  
                 
                </form>
            </div>


            <div class="box-footer">
                <button class="ti-btn ti-btn-primary btn-wave ms-auto float-end" (click)="salvar()">Salvar</button>
                <button class="ti-btn ti-btn-secondary btn-wave ms-auto float-end" (click)="voltar()">Voltar</button>
            </div>
        </div>
    </div>
</div>