<div class="grid grid-cols-12 authentication authentication-cover-main mx-0">
    <div class="xxl:col-span-6 xl:col-span-7 col-span-12">
        <div class="grid grid-cols-12 justify-center items-center h-full">
            <div class="xxl:col-span-3 xl:col-span-2 lg:col-span-3 md:col-span-3 sm:col-span-2 col-span-12"></div>
            <div class="xxl:col-span-6 xl:col-span-8 lg:col-span-6 md:col-span-6 sm:col-span-8 col-span-12 px-3">
                <div class="box my-auto border border-defaultborder dark:border-defaultborder/10">
                    <div class="box-body p-[3rem]">
                        <p class="h5 mb-2 text-center">Create Password</p>
                        <p class="mb-4 text-textmuted dark:text-textmuted/50 font-normal text-center text-[14px]">Hi Henry!</p>
                        <div class="grid grid-cols-12 gap-y-4">
                            <div class="xl:col-span-12 col-span-12">
                                <label class="form-label text-defaulttextcolor" for="create-password">Password<sup class="text-xs text-danger">*</sup></label>
                                <div class="relative">
                                    <input  [type]="showPassword ? 'text' : 'password'" class="form-control create-password-input" id="create-password" placeholder="password" type="password"> <a class="show-password-button text-textmuted dark:text-textmuted/50" href="javascript:void(0);" (click)="togglePassword()"><i class="{{toggleClass}} align-middle"></i></a>
                                </div>
                            </div>
                            <div class="xl:col-span-12 col-span-12 mb-2">
                                <label class="form-label text-defaulttextcolor" for="create-confirmpassword">Confirm Password<sup class="text-xs text-danger">*</sup></label>
                                <div class="relative">
                                    <input  [type]="showPassword1 ? 'text' : 'password'" class="form-control create-password-input" id="create-confirmpassword" placeholder="password" type="password"> <a class="show-password-button text-textmuted dark:text-textmuted/50" href="javascript:void(0);" (click)="togglePassword1()"><i class="{{toggleClass1}} align-middle"></i></a>
                                </div>
                                <div class="mt-2">
                                    <div class="form-check">
                                        <input class="form-check-input" id="defaultCheck1" type="checkbox" value=""> <label class="form-check-label text-textmuted dark:text-textmuted/50 font-normal" for="defaultCheck1">Remember password ?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid mt-4">
                            <button class="ti-btn ti-btn-primary">Save Password</button>
                        </div>
                        <div class="text-center">
                            <p class="text-textmuted dark:text-textmuted/50 mt-3 mb-0">Back to home ? <a class="text-primary" [routerLink]="['/dashboards/sales']">Click Here</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xxl:col-span-3 xl:col-span-2 lg:col-span-3 md:col-span-3 sm:col-span-2 col-span-12"></div>
        </div>
    </div>
    <div class="xxl:col-span-6 xl:col-span-5 lg:col-span-12 xl:block hidden px-0">
        <div class="authentication-cover overflow-hidden">
            <div class="authentication-cover-logo"> 
                <a [routerLink]="['/dashboards/sales']"> 
                    <img src="./assets/images/brand-logos/desktop-white.png" alt="" class="authentication-brand desktop-white"> 
                </a> 
            </div>
            <div class="aunthentication-cover-content flex items-center justify-center">
                <div>
                    <h3 class="text-white mb-1 font-medium">Welcome Henry!</h3>
                    <h6 class="text-white mb-3 font-medium">Login to Your Account</h6>
                    <p class="text-white mb-1 op-6">Welcome to the Admin Dashboard. Please log in to securely manage your administrative tools and oversee platform activities. Your credentials ensure system integrity and functionality.</p>
                </div>
            </div>
        </div>
    </div>
</div>