<app-page-header [title]="'Maps'" [title1]="['Leaflet Maps']" [activeitem]="'Leaflet Maps'"></app-page-header>
<!-- Start::row-1 -->
 <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Leaflet Map</div>
            </div>
            <div class="box-body">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Map With Markers,circles and Polygons</div>
            </div>
            <div class="box-body">
                <div id="map1"></div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Map With Popup</div>
            </div>
            <div class="box-body">
                <div id="map-popup"></div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Map With Custom Icon</div>
            </div>
            <div class="box-body">
                <div id="map-custom-icon"></div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->