<div class="grid grid-cols-12 gap-x-12">
    <div class="xxl:col-span-12 xl:col-span-12 col-span-12">
        <div class="box">
            <div class="box-header justify-between">
                <div class="box-title">
                    Editar produto
                </div>                       
            </div>
            <div class="box-body">
                <form name="produtoform" [formGroup]="produtoform" novalidate>
                    <div class="grid grid-cols-12 gap-x-6">
                        <div class="xl:col-span-12 col-span-12">
                            <div class="grid grid-cols-12 sm:gap-x-6 gap-y-6">
                                <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                        <label for="input-label" class="ti-form-label">Nome do produto</label>
                                        <input id="inputNomeCompleto" type="text" class="form-control"  autocomplete="off" formControlName="nome">
                                    </div>
                                    <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                        <label for="input-label" class="ti-form-label">Descrição do produto</label>
                                        <input id="inputNomeCompleto" type="text" class="form-control"  autocomplete="off" formControlName="descricao">
                                    </div>
                                    <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                    <label for="input-label" class="ti-form-label">Parceiro</label>
                                    <app-select-parceiro [selectedParceiro]="selectedParceiro" (selectedParceiroChange)="selectedParceiro = $event" placeholder="Pesquisar conta"></app-select-parceiro>
                                </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <button class="ti-btn ti-btn-primary btn-wave ms-auto float-end"  [disabled]="!produtoform.valid" (click)="salvar()">Salvar</button>
                <button  class="ti-btn ti-btn-secondary btn-wave ms-auto float-end" (click)="voltar()">Voltar</button>
            </div>
        </div>
    </div>
</div>

