 
 <app-page-header [title]="'Apex Charts'" [title1]="['Apex Radar Charts']" [activeitem]="'Apex Radar Charts'"></app-page-header>
 <!-- Start::row-1 -->
 <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Basic Radar Chart</div>
            </div>
            <div class="box-body">
                <div id="radar-basic"><spk-apexcharts [chartOptions]="chartOptions"></spk-apexcharts></div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Radar Chart-Multiple Series</div>
            </div>
            <div class="box-body">
                <div id="radar-multiple"><spk-apexcharts [chartOptions]="chartOptions1"></spk-apexcharts></div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">Radar Chart Polygon Fill</div>
            </div>
            <div class="box-body">
                <div id="radar-polygon"><spk-apexcharts [chartOptions]="chartOptions2"></spk-apexcharts></div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->