<div class="grid grid-cols-12 gap-x-12">
    <div class="xxl:col-span-12 xl:col-span-12 col-span-12">
        <div class="box">
            <div class="box-header justify-between">
                <div class="box-title">
                    Incluir Usuário
                </div>                       
            </div>
            <div class="box-body">
                <form name="usuarioform" [formGroup]="usuarioform" novalidate>
                    <div class="grid grid-cols-12 gap-x-6">
                        <div class="xl:col-span-12 col-span-12">
                            <div class="grid grid-cols-12 sm:gap-x-6 gap-y-6">
                                    <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                        <label for="input-label" class="ti-form-label">Nome Completo</label>
                                        <input id="inputNomeCompleto" type="text" class="form-control"  autocomplete="off" formControlName="nome">
                                    </div>
                                    <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                        <label for="input-label" class="ti-form-label">E-mail</label>
                                        <input id="iptEmail" type="text" class="form-control" autocomplete="off" formControlName="email">
                                    </div>
                                    <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                        <label for="input-label" class="ti-form-label">Login</label>
                                        <input id="iptLogin" type="text" class="form-control" autocomplete="off" formControlName="login">
                                </div>
                                <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                    <label for="input-label" class="ti-form-label">Senha</label>
                                    <input id="iptSenha"  type="text" class="form-control" autocomplete="off" formControlName="senha">
                                </div>

                                <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                    <label for="input-label" class="ti-form-label">Conta</label>
                                    <app-select-conta [(selectedConta)]="selectedConta" placeholder="Selecione uma conta 3"></app-select-conta>
                                </div>
                                
                                <div class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                        <label for="input-label" class="ti-form-label">Perfil</label>
                                        <select id="idSelectPerfil" class="ti-form-select rounded-sm !py-2 !px-2"  formControlName="perfil">
                                            <option value="ADMINISTRADOR">Administrador</option>
                                            <option value="USUARIO">Usúario</option>
                                        </select>
                                </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <button class="ti-btn ti-btn-primary btn-wave ms-auto float-end" (click)="salvar()">Salvar</button>
                <button  class="ti-btn ti-btn-secondary btn-wave ms-auto float-end" (click)="voltar()">Voltar</button>
            </div>
        </div>
    </div>
</div>



 