<app-page-header [title]="'Form Elements'" [title1]="['Date Time Picker']" [activeitem]="'Date Time Picker'"></app-page-header>

<!-- Start:: row-1 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Basic Date picker
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-inputborder dark:!border-defaultborder/10"> <i class="ri-calendar-line"></i> </div>
                        <spk-flatpickr placeholder="Choose Date" class="form-control custom-datepickr"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="false"
                        [dateFormat]="'Y-m-d'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Date picker With Time
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10"> <i class="ri-calendar-line"></i> </div>
                        <spk-flatpickr placeholder="Choose Date With Time" class="form-control custom-datepickr"
                            [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true"
                            [dateFormat]="'Y-m-d H:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Human Friendly dates
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10"> <i class="ri-calendar-line"></i> </div>
                        <spk-flatpickr placeholder="HUMAN FRIENDLY DATES" class="form-control custom-datepickr"
                        [mode]="'single'" [altInput]="true" [convertModelValue]="true" [enableTime]="false"
                        [dateFormat]="'Y-m-d'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Date range picker
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10"> <i class="ri-calendar-line"></i> </div>
                        <spk-flatpickr [placeholder]="'2024-05-01 to 2024-05-30'" [mode]="'range'" [altInput]="true" [convertModelValue]="true" class="form-control text-dark custom-datepickr"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Basic Time picker
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10"> <i class="ri-time-line"></i> </div>
                        <spk-flatpickr placeholder="choose time" class="form-control custom-datepickr"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true" [noCalendar]="true" [inline]="false"
                        [dateFormat]="'H:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Time Picker with 24hr Format
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10"> <i class="ri-time-line"></i> </div>
                        <spk-flatpickr placeholder="Choose time in 24hr format" class="form-control custom-datepickr"
                            [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true" [noCalendar]="true" [inline]="false"
                            [dateFormat]="'H:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Time Picker with Limits
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10"> <i class="ri-time-line"></i> </div>
                        <spk-flatpickr placeholder="Choose time in 24hr format" class="form-control custom-datepickr"
                            [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true" [noCalendar]="true" [inline]="false"
                            [dateFormat]="'H:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    DateTimePicker with Limited Time Range
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10"> <i class="ri-time-line"></i> </div>
                        <spk-flatpickr placeholder="Choose Date With Time" class="form-control custom-datepickr"
                        [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true"
                        [dateFormat]="'Y-m-d H:i'"></spk-flatpickr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 col-span-12">
        <div class="grid grid-cols-12">
            <div class="xl:col-span-12 col-span-12">
                <div class="box">
                    <div class="box-header">
                        <div class="box-title">
                            Date Picker with week numbers
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group mb-0">
                            <div class="input-group">
                                <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10"> <i class="ri-calendar-line"></i> </div>
                                <spk-flatpickr placeholder="Choose date" class="form-control custom-datepickr"
                                [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="false" [inline]="false"
                                [dateFormat]="'Y-m-d'"></spk-flatpickr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xl:col-span-12 col-span-12">
                <div class="box">
                    <div class="box-header">
                        <div class="box-title">
                            Inline Time Picker
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group mb-0">
                            <spk-flatpickr placeholder="Choose Time" [class]="'form-control  custom-datepickr'"
                                [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true" [noCalendar]="true" [inline]="true"
                                [dateFormat]="'H:i'"></spk-flatpickr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xl:col-span-12 col-span-12">
                <div class="box">
                    <div class="box-header">
                        <div class="box-title">
                            Preloading time
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group mb-0">
                            <div class="input-group">
                                <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10"> <i class="ri-time-line"></i> </div>
                                <spk-flatpickr placeholder="Preloading time" class="form-control custom-datepickr"
                                [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="true" [noCalendar]="true" [inline]="false"
                                [dateFormat]="'H:i'"></spk-flatpickr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Inline Calendar
                </div>
            </div>
            <div class="box-body">
                <div class="form-group overflow-auto">
                    <spk-flatpickr placeholder="Choose date" [class]="'form-control custom-datepickr'"
                    [mode]="'single'" [altInput]="false" [convertModelValue]="true" [enableTime]="false" [inline]="true"
                    [dateFormat]="'Y-m-d'"></spk-flatpickr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-3 -->