<div class="xxl:col-span-12 xl:col-span-12 col-span-12">
    <div class="box">
        <div class="box-header justify-between">
            <div class="box-title">
                Incluir Usuarios Parceiros
            </div>
        </div>


        <div class="box-body">
            <form class="ti-validation" name="usuarioParceiroForm" [formGroup]="usuarioParceiroform" novalidate>
                <div class="grid lg:grid-cols-2 gap-6">
                    <div class="space-y-2">
                        <label class="ti-form-label dark:text-defaulttextcolor/80 mb-0">
                            Nome</label>
                        <input type="text" class="my-auto ti-form-input rounded-sm " placeholder="Nome do usuario"
                            id="iptNomUsuarioParceiro" autocomplete="off" formControlName="nome" required>
                    </div>
                    <div class="space-y-2">
                        <label class="ti-form-label dark:text-defaulttextcolor/80 mb-0">Sobrenome</label>
                        <input type="text" class="my-auto ti-form-input  rounded-sm " placeholder="Sobrenome"
                            id="IptLogin" autocomplete="off" formControlName="login" required>
                    </div>
                    <div class="space-y-2">
                        <label class="ti-form-label dark:text-defaulttextcolor/80 mb-0">
                            CPF/CNPJ</label>
                        <input type="text" class="my-auto ti-form-input  rounded-sm " placeholder="CPF OU CNPJ"
                            id="iptCpfCnpj" autocomplete="off" formControlName="cpfcnpj" required>
                    </div>
                    <div class="space-y-2">
                        <label class="ti-form-label dark:text-defaulttextcolor/80 mb-0">Email
                        </label>
                        <input type="email" class="my-auto ti-form-input  rounded-sm" placeholder="your&#64;site.com"
                            id="iptEmail" autocomplete="off" formControlName="email" required>
                    </div>
                       <div class="space-y-2">
                        <label class="ti-form-label dark:text-defaulttextcolor/80 mb-0">Celular
                        </label>
                        <input type="text" class="my-auto ti-form-input  rounded-sm" placeholder="your&#64;site.com"
                            id="iptEmail" autocomplete="off" formControlName="celular" required>
                    </div>

                    <div class="space-y-2">
                        <label class="ti-form-label dark:text-defaulttextcolor/80 mb-0">Titulo
                        </label>
                        <input type="text" class="my-auto ti-form-input  rounded-sm" placeholder="Titulo" id="ipttitulo"
                            autocomplete="off" formControlName="titulo" >
                    </div>
                    <div class="space-y-2">
                        <label class="ti-form-label dark:text-defaulttextcolor/80 mb-0">Função</label>
                        <input type="text" class="ti-form-input  rounded-sm" placeholder="Função" autocomplete="off"
                            formControlName="funcao" >
                    </div>

             
                 

                    <div class="space-y-2">
                        <label class="ti-form-label dark:text-defaulttextcolor/80 mb-0">Assinatura
                        </label>
                        <input type="text" class="ti-form-input  rounded-sm" placeholder="Assinatura" autocomplete="off"
                            formControlName="assinatura" required>
                    </div>

                    <div class="space-y-2">
                        <label for="input-label" class="ti-form-label">Unidades</label>
                        <app-select-unidade [multiple]="true" [parceiro]="parceiro"
                            (selectedUnidadeChange)="onUnidadesChanges($event)"
                            placeholder="Pesquisar unidade"></app-select-unidade>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="box-footer">
        <button class="ti-btn ti-btn-primary btn-wave ms-auto float-end"   (click)="salvar()">Salvar</button>
        <!-- <button  class="ti-btn ti-btn-secondary btn-wave ms-auto float-end" [disabled]="!usuarioParceiroform.valid" (click)="voltar()">Voltar</button>-->
        <button type="button" class="hs-dropdown-toggle ti-btn btn-wave ti-btn-secondary"
            data-hs-overlay="#exampleModalScrollable5">
            Fechar
        </button>
    </div>
</div>