
    <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out min-h-[calc(100%-3.5rem)] flex items-center">
        <div class="ti-modal-content w-full">
            <div class="ti-modal-body">
                <div class="xxl:col-span-12 xl:col-span-12 col-span-12">
                    <div class="box">
                        <div class="box-header justify-between">
                            <div class="box-title">
                                Editar unidade
                            </div>
                        </div>
                        <div class="box-body">
                            <form name="unidadeform" [formGroup]="unidadeform" novalidate>
                                <div class="grid grid-cols-12 gap-x-6">
                                    <div class="xl:col-span-12 col-span-12">
                                        <div class="grid grid-cols-12 sm:gap-x-6 gap-y-6">
                                            <div
                                                class="xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                                                <label for="input-label" class="ti-form-label">Nome</label>
                                                <input id="inputNome" type="text" class="form-control"
                                                    autocomplete="off" formControlName="nome">

                                                <label for="input-label" class="ti-form-label">Descricao do
                                                    unidade</label>
                                                <input id="inputDescricao" type="text" class="form-control"
                                                    autocomplete="off" formControlName="descricao">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="box-footer">
                            <button class="ti-btn ti-btn-primary btn-wave ms-auto float-end"
                                [disabled]="!unidadeform.valid" (click)="salvar()">Salvar</button>
                            <button class="ti-btn ti-btn-secondary btn-wave ms-auto float-end"
                                (click)="voltar()">Voltar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
