<app-page-header [title]="'NFT'" [title1]="['Nft Details']" [activeitem]="'Nft Details'"></app-page-header>

<!-- Start::row-1 -->
<div class="box overflow-hidden">
    <div class="box-body">
        <div class="grid grid-cols-12 sm:gap-x-6 gap-y-3">
            <div class="xxl:col-span-4 xl:col-span-12 col-span-12">
                <div class="swiper swiper-preview-details product-details-page">
                     <ks-carousel [id]="100"  class="swiper-slide me-2"  [images]="imagesRect"></ks-carousel>
                </div>
            </div>
            <div class="xxl:col-span-8 xl:col-span-12 col-span-12">
                <div class="box shadow-none border border-defaultborder dark:border-defaultborder/10 mb-0">
                    <div class="box-body">
                        <div class="grid grid-cols-12 sm:gap-x-6">
                            <div class="xl:col-span-12 col-span-12 mt-xxl-0 mt-0">
                                <div class="flex gap-2 items-center justify-between mb-3 flex-wrap">
                                    <div>
                                        <p class="text-lg font-medium mb-0">Vibrant Symphony - NFT Digital Art</p>
                                        <span class="mb-0 font-medium text-[15px]">Digital Art NFT<div
                                            class="hs-tooltip ti-main-tooltip">
                                            <span class="text-primary ms-1">
                                                <i class="ri-checkbox-circle-fill"></i>
                                                <span
                                                    class="hs-tooltip-content  ti-main-tooltip-content py-1 px-2 !bg-black !text-xs !font-medium !text-white shadow-sm "
                                                    role="tooltip">
                                                    Verified
                                                </span>
                                            </span>
                                        </div> </span> 
                                    </div>
                                    <p class="text-lg text-end ms-auto mb-0">
                                        <i class="ri-heart-3-fill text-danger align-middle me-1"></i>
                                        <span class="font-medium text-textmuted dark:text-textmuted/50"><a class="text-info text-[14px]" href="javascript:void(0);">(2.4k Likes)</a></span>
                                    </p>
                                </div>
                                <div class="mb-3">
                                    <p class="text-[15px] font-medium mb-1">Description :</p>
                                    <p class="text-textmuted dark:text-textmuted/50 mb-0">
                                        "Vibrant Symphony" is a mesmerizing NFT artwork created by a renowned digital artist. This unique piece takes viewers on a journey through a vivid and ethereal world, where vibrant colors blend seamlessly with abstract forms. The artwork is a digital representation of the artist's imagination, combining elements of surrealism and futuristic aesthetics.
                                    </p>
                                </div>
                                <div class="grid grid-cols-12 sm:gap-x-6 justify-center">
                                    <div class="xxl:col-span-12 col-span-12">
                                        <div class="ecommerce-assurance bg-light">
                                            <div class="flex justify-between gap-2 items-center flex-wrap">
                                                <div>
                                                    <p class="text-[14px] font-medium mb-2">Highest Bid :</p>
                                                    <div class="avatar avatar-sm avatar-rounded p-1 bg-primary/10 me-2 border border-primary/10">
                                                        <img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt="">
                                                    </div>
                                                    <h4 class="mb-2 inline-block text-success">  2.9ETH</h4>
                                                    <p class="text-textmuted dark:text-textmuted/50 mb-0 text-xs"> Highest Bid By <span class="text-primary font-medium">&#64;abstract65</span></p>
                                                </div>
                                                <div>
                                                    <p class="text-[14px] font-medium mb-2">Blockchain :</p>
                                                    <div class="flex gap-1 items-center">
                                                        <div class="avatar avatar-sm avatar-rounded p-1 bg-primary/10 me-2 border border-primary/10">
                                                            <img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt="">
                                                        </div>
                                                        <h6 class="mb-0">  Ethereum</h6>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="text-[14px] font-medium mb-2">Sales Ends in :</p>
                                                    <p class="nft-details-auction-time bg-primarytint2color px-3 py-1 text-white rounded-full mb-0 shadow-sm"><i class="ri-time-line"></i> 07hrs : 33m : 45s</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 gap-x-6 mt-4">
                                    <div class="xxl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-6 col-span-12 mt-xxl-0 mt-3">
                                        <p class="mb-2 text-[15px] font-medium">Collection:</p>
                                        <div class="flex items-center font-medium">
                                            <span class="avatar avatar-sm avatar-rounded leading-none me-1"><img src="./assets/images/nft-images/2.jpg" alt=""></span>
                                            Digital Art NFT
                                        </div>
                                    </div>
                                    <div class="xxl:col-span-2 xl:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-6 col-span-12 mt-xxl-0 mt-3">
                                        <p class="mb-2 text-[15px] font-medium">Owned By:</p>
                                        <div class="flex items-center font-medium">
                                            <span class="avatar avatar-sm avatar-rounded leading-none me-1"><img src="./assets/images/faces/9.jpg" alt=""></span>
                                            Henry Milo
                                        </div>
                                    </div>
                                    <div class="xxl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-6 col-span-12 mt-xxl-0 mt-3">
                                        <p class="mb-2 text-[15px] font-medium">Published :</p>
                                        <span class="block font-medium">24, Jul 2024 - 12:45PM</span>
                                    </div>
                                    <div class="xxl:col-span-4 xl:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-6 col-span-12">
                                        <p class="mb-2 text-[15px] font-medium">Price:
                                            <span class="ms-3 badge bg-primarytint1color/10 text-primarytint1color">30% Off</span>
                                        </p>
                                        <p class="mb-0">
                                            <span class="h3">
                                                <span class="avatar avatar-sm avatar-rounded p-1 bg-primary/10 me-2 border border-primary/10">
                                                    <img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt=""></span>2.299<sup class="text-[14px]">.00</sup></span>
                                                <span class="mb-0 text-textmuted dark:text-textmuted/50 text-xs"><s>ETH2,599.00</s>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="grid grid-cols-12 sm:gap-x-6 mt-4">
                                    <div class="xl:col-span-6 col-span-12">
                                        <div class="flex gap-1 mb-2 xl:mb-0">
                                            <button class="ti-btn ti-btn-primary mb-0 btn-wave flex-auto ti-btn-lg me-1">Place a bid</button>
                                            <button class="ti-btn ti-btn-soft-secondary mb-0 btn-wave flex-auto ti-btn-lg">Buy Now</button>
                                        </div>
                                    </div>
                                    <div class="xl:col-span-3 col-span-12"></div>
                                    <div class="xl:col-span-3 col-span-12">
                                        <div class="flex gap-2 justify-end flex-wrap">
                                            <p class="text-xs bg-primary/10 badge text-primary rounded-full text-end mb-0">
                                                <i class="ri-eye-line text-primary me-2 align-middle"></i>
                                                <span class="font-medium"><a href="javascript:void(0);"></a>3.5k Views</span>
                                            </p>
                                            <p class="text-xs bg-primary/10 badge text-primary rounded-full text-end mb-0">
                                                <i class="ri-share-line text-primary me-2 align-middle"></i>
                                                <span class="font-medium"><a href="javascript:void(0);"></a>Share</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

<!--Start::row-2 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xxl:col-span-4 sm:col-span-12 col-span-12">
        <div class="box">
            <div class="box-header justify-between">
                <div class="box-title">Product Details :</div>
                <a href="javascript:void(0);" class="ti-btn bg-light ti-btn-sm text-textmuted dark:text-textmuted/50 ms-auto">
                    View More
                </a>
            </div>
            <div class="box-body">
                <div class="table-responsive overflow-auto table-bordered-default">
                    <spk-reusable-tables tableClass="ti-custom-table text-nowrap"> 
                        @for(detail of nftDetails;track $index){
                            <tr>
                                <th scope="row" class="font-medium">
                                    {{ detail.label }}
                                </th>
                                <td>{{ detail.value }}</td>
                            </tr>
                        }
                    </spk-reusable-tables>
                </div>
            </div>
        </div>
    </div>
    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header justify-between">
                <div class="box-title">
                    Key Features :
                </div>
                <a href="javascript:void(0);" class="ti-btn bg-light ti-btn-sm text-textmuted dark:text-textmuted/50 ms-auto">
                    View More
                </a>
            </div>
            <div class="box-body">
                <ul class="mb-0 list-none">
                    <li class="mb-4">
                        <span class="font-medium">NFT Title:</span> "Vibrant Symphony"
                    </li>
                    <li class="mb-4">
                        <span class="font-medium">Edition:</span> Limited edition of 25
                    </li>
                    <li class="mb-4">
                        <span class="font-medium">Tags:</span> #digitalart, #sunset, #mystical, #dreamscape
                    </li>
                    <li class="mb-4">
                        <span class="font-medium">Creation Date:</span> July 1, 2024
                    </li>
                    <li class="mb-4">
                        <span class="font-medium">Average Rating:</span> 4.8/5
                    </li>
                    <li class="mb-4">
                        <span class="font-medium">Dimensions:</span> 3000x2000 pixels
                    </li>
                    <li class="mb-1">
                        <span class="font-medium">Exhibition History:</span> Digital Art Expo 2024 - Gallery XYZ, New York City
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="xxl:col-span-4 xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header justify-between">
                <div class="box-title">
                    Reviews & Ratings
                </div>
                <a href="javascript:void(0);" class="ti-btn bg-light ti-btn-sm text-textmuted dark:text-textmuted/50 ms-auto">
                    View All
                </a>
            </div>
            <div class="box-body">
                <div class="grid grid-cols-12">
                    <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
                        <div class="flex items-center mb-5">
                            <div class="me-2 leading-none">
                                <i class="ri-star-fill text-[1.625rem] text-warning"></i>
                            </div>
                            <div class="leading-none">
                                <p class="mb-0 font-medium">4.5 out of 5<span class="mb-0 text-textmuted dark:text-textmuted/50 text-[11px] font-normal"> Based on (2.1k) ratings</span></p>
                            </div>
                        </div>
                        <div class="swiper crypto-swiper swiper-basic">
                            <swiper-container 
                            #swiperContainer
                            class="swiper mySwiper" 
                            space-between="30"
                            slides-per-view="1"
                            slides-per-group="1"
                            autoplay-delay="2000"  autoplay-disable-on-interaction="false"
                          >
                              <swiper-slide >
                                    <div class="border border-defaultborder dark:border-defaultborder/10 rounded-md p-4">
                                        <div class="sm:flex block items-top mb-4">
                                            <div class="flex flex-auto">
                                                <div class="me-2">
                                                    <span class="avatar avatar-sm avatar-rounded">
                                                        <img src="./assets/images/faces/15.jpg" alt="">
                                                    </span>
                                                </div>
                                                <div class="leading-none me-2">
                                                    <p class="mb-1 font-medium text-[14px]">Christopher <span class="text-success"></span></p>
                                                    <div class="mb-1">
                                                        <span class="text-[11px] text-textmuted dark:text-textmuted/50">
                                                            24 Nov, 2024 - 10:54PM
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1 ms-auto text-end flex flex-wrap gap-1">
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-half-fill text-warning align-middle text-xs"></i>
                                                 <span class="align-middle">4.1</span>
                                            </div>
                                        </div>
                                        <div class="ps-sm-4 ps-0 mb-3">
                                            <p class="font-medium mb-1 ps-2">Vibrant Symphony 😍</p>
                                            <p class="mb-0 text-xs text-textmuted dark:text-textmuted/50 ps-2">Vibrant Symphony is an extraordinary NFT that immerses you in a world of vivid colors and imaginative landscapes.</p>
                                        </div>                                            
                                        <div class="product-images ps-sm-4 ps-0">
                                            <div class="flex justify-between flex-wrap items-center">
                                                <div>
                                                    <div class="flex flex-wrap gap-2">
                                                        <a href="javascript:void(0);" class="avatar avatar-sm">
                                                            <img src="./assets/images/nft-images/13.jpg" alt="">
                                                        </a>
                                                        <a href="javascript:void(0);" class="avatar avatar-sm">
                                                            <img src="./assets/images/nft-images/15.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="flex align-items-end justify-content-sm-end mt-sm-0 mt-2">
                                                    <button class="ti-btn ti-btn-sm ti-btn-soft-primary text-primary me-2">Report abuse</button>
                                                    <button class="ti-btn ti-btn-sm ti-btn-icon bg-primarytint2color/10 text-primarytint2color me-2">
                                                        <i class="ri-thumb-up-line"></i>
                                                    </button>
                                                    <button class="ti-btn ti-btn-sm ti-btn-icon bg-primarytint3color/10 text-primarytint3color">
                                                        <i class="ri-thumb-down-line"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </swiper-slide>
                                <swiper-slide >
                                    <div class="border border-defaultborder dark:border-defaultborder/10 rounded-md p-4">
                                        <div class="sm:flex block items-top mb-4">
                                            <div class="flex flex-auto">
                                                <div class="me-2">
                                                    <span class="avatar avatar-sm avatar-rounded">
                                                        <img src="./assets/images/faces/10.jpg" alt="">
                                                    </span>
                                                </div>
                                                <div class="leading-none me-2">
                                                    <p class="mb-1 font-medium text-[14px]">Sarah Johnson <span class="text-success"></span></p>
                                                    <div class="mb-1">
                                                        <span class="text-[11px] text-textmuted dark:text-textmuted/50">
                                                            30 Apr, 2024 - 03:22PM
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1 ms-auto text-end flex flex-wrap gap-1">
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-half-fill text-warning align-middle text-xs"></i>
                                                <i class="ri-star-line text-warning align-middle text-xs"></i>
                                                <span class="align-middle">3.7</span>
                                            </div>
                                        </div>
                                        <div class="ps-sm-4 ps-0 mb-3">
                                            <p class="font-medium mb-1 ps-2">Enchanting Dreamscape</p>
                                            <p class="mb-0 text-xs text-textmuted dark:text-textmuted/50 ps-2">Enchanting Dreamscape offers a surreal journey through dream-like imagery and subtle symbolism.</p>
                                        </div>                                            
                                        <div class="product-images ps-sm-4 ps-0">
                                            <div class="flex justify-between items-center flex-wrap">
                                                <div>
                                                    <div class="flex flex-wrap gap-2">
                                                        <a href="javascript:void(0);" class="avatar avatar-sm">
                                                            <img src="./assets/images/nft-images/6.jpg" alt="">
                                                        </a>
                                                        <a href="javascript:void(0);" class="avatar avatar-sm">
                                                            <img src="./assets/images/nft-images/7.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="flex align-items-end justify-content-sm-end mt-sm-0 mt-2">
                                                    <button class="ti-btn ti-btn-sm ti-btn-soft-primary me-2">Report abuse</button>
                                                    <button class="ti-btn ti-btn-sm ti-btn-icon bg-primarytint2color/10 text-primarytint2color me-2">
                                                        <i class="ri-thumb-up-line"></i>
                                                    </button>
                                                    <button class="ti-btn ti-btn-sm ti-btn-icon bg-primarytint3color/10 text-primarytint3color">
                                                        <i class="ri-thumb-down-line"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                                    
                                </swiper-slide>
                                <swiper-slide >
                                    <div class="border border-defaultborder dark:border-defaultborder/10 rounded-md p-4">
                                        <div class="sm:flex block items-top mb-4">
                                            <div class="flex flex-auto">
                                                <div class="me-2">
                                                    <span class="avatar avatar-sm avatar-rounded">
                                                        <img src="./assets/images/faces/12.jpg" alt="">
                                                    </span>
                                                </div>
                                                <div class="leading-none me-2">
                                                    <p class="mb-1 font-medium text-[14px]">Emily Brown <span class="text-success"></span></p>
                                                    <div class="mb-1">
                                                        <span class="text-[11px] text-textmuted dark:text-textmuted/50">
                                                            15 May, 2024 - 09:15AM
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1 ms-auto text-end flex flex-wrap gap-1">
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-fill text-warning align-middle"></i>
                                                <i class="ri-star-half-fill text-warning align-middle text-xs"></i>
                                                <i class="ri-star-line text-warning align-middle text-xs"></i>
                                                <span class="align-middle">3.8</span>
                                            </div>
                                        </div>
                                        <div class="ps-sm-4 ps-0 mb-3">
                                            <p class="font-medium mb-1 ps-2">Oceanic Serenity 🌊</p>
                                            <p class="mb-0 text-xs text-textmuted dark:text-textmuted/50 ps-2">Oceanic Serenity captivates with its tranquil underwater scenes and ethereal marine life.</p>
                                        </div>                                            
                                        <div class="product-images ps-sm-4 ps-0">
                                            <div class="flex items-center justify-between flex-wrap">
                                                <div>
                                                    <div class="flex flex-wrap gap-2">
                                                        <a href="javascript:void(0);" class="avatar avatar-sm">
                                                            <img src="./assets/images/nft-images/6.jpg" alt="">
                                                        </a>
                                                        <a href="javascript:void(0);" class="avatar avatar-sm">
                                                            <img src="./assets/images/nft-images/3.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="flex align-items-end justify-content-sm-end mt-sm-0 mt-2">
                                                    <button class="ti-btn ti-btn-sm ti-btn-soft-primary me-2">Report abuse</button>
                                                    <button class="ti-btn ti-btn-sm ti-btn-icon bg-primarytint2color/10 text-primarytint2color me-2">
                                                        <i class="ri-thumb-up-line"></i>
                                                    </button>
                                                    <button class="ti-btn ti-btn-sm ti-btn-icon bg-primarytint3color/10 text-primarytint3color">
                                                        <i class="ri-thumb-down-line"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                  
                                </swiper-slide>
                                </swiper-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-2 -->

<!--Start::row-3 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xxl:col-span-3 sm:col-span-12 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Popular NFT's :
                </div>
            </div>
            <div class="box-body pt-0">
                <div class="table-responsive">
                    <table class="ti-custom-table text-nowrap border border-defaultborder dark:border-defaultborder/10">
                        <tbody>
                            <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                                <td>
                                    <a href="javascript:void(0);">
                                        <div class="flex items-top">
                                            <div class="avatar me-2">
                                                <img src="./assets/images/nft-images/16.jpg" alt="">
                                            </div>
                                            <div class="flex-auto">
                                                <p class="mb-1 text-[14px] font-medium similar-product-name truncate">Digital Dreamscapes</p>
                                                <p class="mb-0">
                                                    <span class="badge bg-success text-white">18.5k<i class="ri-heart-3-fill align-middle ms-1"></i></span>
                                                    <span class="text-textmuted dark:text-textmuted/50 ms-1">(18,512)</span>
                                                </p>
                                            </div>
                                            <div class="text-center">
                                                <p class="mb-0 text-[1rem] font-medium">
                                                    <span class="avatar avatar-xs avatar-rounded p-1"><img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt=""></span>2.299 ETH
                                                </p>
                                                <p class="mb-0 text-textmuted dark:text-textmuted/50">
                                                    <s><span class="avatar avatar-xs avatar-rounded p-1"><img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt=""></span>3.299 ETH</s>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                                <td>
                                    <a href="javascript:void(0);">
                                        <div class="flex items-top">
                                            <div class="avatar me-2">
                                                <img src="./assets/images/nft-images/18.jpg" alt="">
                                            </div>
                                            <div class="flex-auto">
                                                <p class="mb-1 text-[14px] font-medium similar-product-name truncate">Galactic Gardens</p>
                                                <p class="mb-0">
                                                    <span class="badge bg-success text-white">4.2k<i class="ri-heart-3-fill align-middle ms-1"></i></span>
                                                    <span class="text-textmuted dark:text-textmuted/50 ms-1">(4,356)</span>
                                                </p>
                                            </div>
                                            <div class="text-center">
                                                <p class="mb-0 text-[1rem] font-medium">
                                                    <span class="avatar avatar-xs avatar-rounded p-1"><img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt=""></span>1.899 ETH
                                                </p>
                                                <p class="mb-0 text-textmuted dark:text-textmuted/50">
                                                    <s><span class="avatar avatar-xs avatar-rounded p-1"><img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt=""></span>2.799 ETH</s>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                                <td>
                                    <a href="javascript:void(0);">
                                        <div class="flex items-top">
                                            <div class="avatar me-2">
                                                <img src="./assets/images/nft-images/10.jpg" alt="">
                                            </div>
                                            <div class="flex-auto">
                                                <p class="mb-1 text-[14px] font-medium similar-product-name truncate">Pixelated Paradise</p>
                                                <p class="mb-0">
                                                    <span class="badge bg-success text-white">9.1k<i class="ri-heart-3-fill align-middle ms-1"></i></span>
                                                    <span class="text-textmuted dark:text-textmuted/50 ms-1">(9,153)</span>
                                                </p>
                                            </div>
                                            <div class="text-center">
                                                <p class="mb-0 text-[1rem] font-medium">
                                                    <span class="avatar avatar-xs avatar-rounded p-1"><img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt=""></span>3.599 ETH
                                                </p>
                                                <p class="mb-0 text-textmuted dark:text-textmuted/50">
                                                    <s><span class="avatar avatar-xs avatar-rounded p-1"><img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt=""></span>5.499 ETH</s>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                                <td>
                                    <a href="javascript:void(0);">
                                        <div class="flex items-top">
                                            <div class="avatar me-2">
                                                <img src="./assets/images/nft-images/11.jpg" alt="">
                                            </div>
                                            <div class="flex-auto">
                                                <p class="mb-1 text-[14px] font-medium similar-product-name truncate">Vibrant Voyages</p>
                                                <p class="mb-0">
                                                    <span class="badge bg-success text-white">15.7k<i class="ri-heart-3-fill align-middle ms-1"></i></span>
                                                    <span class="text-textmuted dark:text-textmuted/50 ms-1">(15,789)</span>
                                                </p>
                                            </div>
                                            <div class="text-center">
                                                <p class="mb-0 text-[1rem] font-medium">
                                                    <span class="avatar avatar-xs avatar-rounded p-1"><img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt=""></span>6.499 ETH
                                                </p>
                                                <p class="mb-0 text-textmuted dark:text-textmuted/50">
                                                    <s><span class="avatar avatar-xs avatar-rounded p-1"><img src="./assets/images/crypto-currencies/regular/Ethereum.svg" alt=""></span>9.999 ETH</s>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
                                <td class="grid">
                                    <button class="ti-btn ti-btn-soft-secondary">View All NFT's</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="xxl:col-span-9 col-span-12">
        <div class="flex gap-1 items-center justify-between mb-3">
            <h6 class="font-medium mb-0">Explore More NFT's:</h6>
            <a href="javascript:void(0);" class="ti-btn bg-primary/10 text-primary  ti-btn-sm ms-auto">
                View More
            </a>
        </div>
        <div class="grid grid-cols-12 gap-x-6">  
            @for(nft of cardData1;track $index){
            <div class="xxl:col-span-3 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-6 col-span-12">
                <spk-nft-card  [nft]="nft"></spk-nft-card>
                </div>
            }
        </div>
    </div>
</div>
<!--End::row-3 -->