
<app-page-header [title]="'Apex Charts'" [title1]="['Apex Range Area Charts']" [activeitem]="'Apex Range Area Charts'"></app-page-header>
<!-- Start::row-1 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Basic Range Area Chart
                </div>
            </div>
            <div class="box-body">
                <div id="rangearea-basic"><spk-apexcharts [chartOptions]="chartOptions"></spk-apexcharts></div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-6 col-span-12">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Combo Range Area Chart
                </div>
            </div>
            <div class="box-body">
                <div id="rangearea-combo"><spk-apexcharts [chartOptions]="chartOptions1"></spk-apexcharts></div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->